// Override default variables before the import

// Colors
$white:    #fff    !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000    !default;

$blue:    #4286F3 !default;
$indigo:  #4740AF !default;
$purple:  #6f42c1 !default;
$pink:    #e462a3 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #86EACE !default;
$cyan:    #17a2b8 !default;

$primary:       $indigo   !default;
$secondary:     $gray-600 !default;
$success:       $green    !default;
$info:          $blue     !default;
$warning:       $yellow   !default;
$danger:        $red      !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

// Index Page Colors
$about-background: #f4ecf2 !default;
$about-title: #8a3c7a      !default;

// Optional Overrides
$enable-caret:                                true  !default;
$enable-rounded:                              true  !default;
$enable-shadows:                              false !default;
$enable-gradients:                            false !default;
$enable-transitions:                          true  !default;
$enable-prefers-reduced-motion-media-query:   true  !default;
$enable-grid-classes:                         true  !default;
$enable-pointer-cursor-for-buttons:           true  !default;
$enable-rfs:                                  true  !default;
$enable-validation-icons:                     true  !default;
$enable-deprecation-messages:                 true  !default;
$enable-important-utilities:                  true  !default;


// Import Bootstrap and its default variables
@import '../node_modules/bootstrap/scss/bootstrap.scss';

// Post import bootstrap style overrides
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: 'Work Sans', sans-serif !important;
}

// Headers (use Roboto Mono, everything else use Work Sans)
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Mono", monospace !important;
}

.navbar {
    position: absolute !important;
    width: 100%;
    top: 0px;
}

.navbar-nav {
    font-size: 1.25em !important;
}

.splash {
  background-image: url("/static/img/backgrounds/splash-background.svg");
  background-position: 85% 100%;
  background-color: #1b135e;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 650px;
  height: 100vh;
  z-index: 1;

  display: flex;
  justify-content: center;
}



#splash-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@include media-breakpoint-up(sm) {
    #splash-content {
        justify-content: center;
    }
}

#text-logo {
    width: 100%;
    max-width: 450px;
}

// Transitions:
//      About to Industry Transition
.about-transition {
    background: linear-gradient(to left bottom, #f4ecf2 49.5%, white 50%);
    height: calc(10vw * 0.5);
}
.splash-transition {
    background: linear-gradient(to left bottom, transparent 49.5%, #f4ecf2 50%);
    height: calc(10vw * 0.5);
    margin-top: calc(-10vw * 0.5);
}

.section x{
    padding: 3em 0em;

    .section-title {
        font-size: 2.5em;
        font-weight: bold;
    }
}

.about-section {
    background-color: $about-background;

    .about-title {
        color: $about-title;
    }

    .about-content {
        flex-wrap: wrap-reverse;
    }

    .about-description {
        font-size: 1.15em;
        line-height: 1.5;
    }

    .about-img {
        width: 100%;
        max-width: 300px;
    }
}

.dummy-section {
    min-height: 600px;
}

// home page buttons with gradients
// https://codepen.io/JavaScriptJunkie/pen/pPRooV

.splash-button {
    width: 100px;
    font-family: "Roboto Mono";
    font-size: 15px;
    // todo: font weight seems too thin
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 20px;
    height: 35px;
    text-align: center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    // moz-transition: all 0.4s ease-in-out;
    // -o-transition: all 0.4s ease-in-out;
    // -webkit-transition: all 0.4s ease-in-out;
    // transition: all 0.4s ease-in-out;
}

// .splash-button:hover {
//     background-position: 100% 0;
//     moz-transition: all 0.4s ease-in-out;
//     -o-transition: all 0.4s ease-in-out;
//     -webkit-transition: all 0.4s ease-in-out;
//     transition: all 0.4s ease-in-out;
// }

// .splash-button:focus {
//     outline: none;
// }

$a: #40e495;
$b: #4fc2f8;
$c: #4fc2f8;
$d: #4286fc;

.splash-button {
    background-image: linear-gradient(to right, $a, $b, $c, $d);
    // box-shadow: 0 0 15px 0 rgba(49, 196, 190, 0.75);
}
