// Override default variables before the import

// Colors
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #4286f3 !default;
$indigo: #4740af !default;
$purple: #6f42c1 !default;
$pink: #e462a3 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #86eace !default;
$cyan: #17a2b8 !default;

$primary: $indigo !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $blue !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

// Optional Overrides
$enable-caret: true !default;
$enable-rounded: true !default;
$enable-shadows: false !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$enable-prefers-reduced-motion-media-query: true !default;
$enable-grid-classes: true !default;
$enable-pointer-cursor-for-buttons: true !default;
$enable-rfs: true !default;
$enable-validation-icons: true !default;
$enable-deprecation-messages: true !default;
$enable-important-utilities: true !default;

// TAMU Datathon Theme Colors
$theme-dark-green: #22b9a5;
$theme-light-green: #86eace;
$theme-light-blue: #4fc2f8;

$splash-light-purple: #7c408a;
$splash-light-blue: #3f5aaa;
$portal-dark-blue: #4740af;
$portal-nav-border: #cfcfcf;
$dark-purple: #632ed2;
$dark-green: #00c3c3;
$dark-pink: #ea6ec9;

// Import Bootstrap and its default variables
// @import "../node_modules/bootstrap/scss/bootstrap.scss";

// START OPTIMIZE
// import everything that bootstrap.scss does
// but comment out what we don't need

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Optional
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
// @import "images";
// @import "code";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
// @import "dropdown";
// @import "button-group";
@import "../node_modules/bootstrap/scss/input-group";
// @import "custom-forms";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
// @import "breadcrumb";
// @import "pagination";
// @import "badge";
// @import "jumbotron";
// @import "alert";
// @import "progress";
// @import "media";
// @import "list-group";
@import "../node_modules/bootstrap/scss/close";
// @import "toasts";
@import "../node_modules/bootstrap/scss/modal";
// @import "tooltip";
// @import "popover";
// @import "carousel";
// @import "spinners";
// not sure about these next 2
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/print";

// END OPTIMIZE

@import "../node_modules/splitting/dist/splitting-cells";
@import "../node_modules/splitting/dist/splitting";

// Post import bootstrap style overrides
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@100;200;300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family:"Work Sans", sans-serif !important;
}

.section-title {
  font-family:"Work Sans", sans-serif !important;
}

.table {
  width: 55%;
  max-width: 700px;
  min-width: 300px;
}

.table th:first-of-type {
  width: 50%;
}
.table th:nth-of-type(2) {
  width: 50%;
}

sponsor {
  color: #19159d;
}

course {
  color: #188978;
}

other {
  color: #8b2aa1;
}

main {
  color: #343a40;
  font-weight: bold;
}

// Import all partials & page css files
@import "navbar.scss";
@import "mixins.scss";
@import "markdown-static.scss";
@import "scroll.scss";

// Index page imports
@import "index.scss";

/* Remove box shadow from tippy tooltips */
// .tippy-box[data-theme~="light"] {
//   box-shadow: 0 0.5rem 1rem rgba(#000, 0.05) !important;
//   padding: 0.25rem 0.5rem;
// }

// adjust modal z-index to always be above tooltip
.modal {
  z-index: 100000 !important;
}
