// Override default variables before the import

// Colors
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #4286f3 !default;
$indigo: #4740af !default;
$purple: #6f42c1 !default;
$pink: #e462a3 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #86eace !default;
$cyan: #17a2b8 !default;

$primary: $indigo !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $blue !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

// Optional Overrides
$enable-caret: true !default;
$enable-rounded: true !default;
$enable-shadows: false !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$enable-prefers-reduced-motion-media-query: true !default;
$enable-grid-classes: true !default;
$enable-pointer-cursor-for-buttons: true !default;
$enable-rfs: true !default;
$enable-validation-icons: true !default;
$enable-deprecation-messages: true !default;
$enable-important-utilities: true !default;

// TAMU Datathon Theme Colors
$theme-dark-green: #22b9a5;
$theme-light-green: #86eace;
$theme-light-blue: #4fc2f8;

$splash-light-purple: #7c408a;
$splash-light-blue: #3f5aaa;

// Import Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// Post import bootstrap style overrides
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif !important;
}

// Headers (use Roboto Mono, everything else use Work Sans)
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Mono", monospace !important;
}

// Import all partials & page css files
@import "navbar.scss";
@import "footer.scss";
@import "mixins.scss";
@import "team-card.scss";
@import "industry-modal.scss";

// Index page imports
@import "index.scss";

/* Remove box shadow from tippy tooltips */
.tippy-box[data-theme~=light] {
  box-shadow: 2px 2px 2px #666 !important;
}

.slider {
  width: 105%;
  height: 100%;
  margin: 100px auto;
}

.slick-slide {
  margin: 0 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-next:before,
.slick-prev:before {
  color: black;
}

.slick-slide {
  transition: all ease-in-out 0.3s;
  opacity: 0.2;
}

.slick-active {
  opacity: 0.5;
}

.slick-current {
  opacity: 1;
}
