$splash-light-blue: #3f5aaa;
$theme-light-green: #86EACE;

.footer-section {
  background-color: $splash-light-blue;
  color: #fff;

  .footer-logo {
    width: 7.5vh;
    height: auto;
  }

  a {
    color: $theme-light-green !important;
  }

  .footer-social-link:hover {
    text-decoration: none;
  }
}