$splash-light-blue: #1b135e;
$theme-light-green: #86eace;
$dark-purple: #632ed2;

.footer-section {
  background-color: #351A75;
  color: #fff;
  padding-top: 2rem;
  padding-bottom: 2rem;

  .footer-logo {
    width: 100%;
    max-width: 4.7rem;
  }

  a {
    color: $theme-light-green !important;
    i {
      transform: scale(0.7);
    }
  }

  .footer-social-link-container {
    flex: 0;
    display: flex;
  }

  .footer-social-link:hover {
    text-decoration: none;
  }

  .footer-doc-links > a {
    display: block;
  }

  .vercel-promo {
    a {
      color: white !important;
    }
  }

  @include media-breakpoint-up(md) {
    .footer-doc-links > a {
      display: inline;
    }
  }
  @include media-breakpoint-down(md) {
    .footer-content {
      text-align: center;
      justify-content: center;
      align-items: center;
      .row {
        text-align: center;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
