/**
 * DO NOT MAKE CHANGES TO THIS FILE
 */

@import "./partials/splash.scss";
@import "./partials/information.scss";
@import "./partials/faq.scss";
@import "./partials/sponsors.scss";
@import "./partials/team.scss";
@import "./partials/events.scss";
@import "./partials/about.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
}

.section {
  padding: 100px;
  width: 100vw;
  position: fixed;
}

.transition {
  position: absolute;
  top: -200px;
  left: 0;
  width: 100vw;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.content {
  border: 1px solid black;
  padding: 10px;
}