@import "animations.scss";

// Index Page Colors
$about-background: #f4ecf2 !default;
$about-title: #8a3c7a !default;

$faq-background: #90eee3 !default;
// dark green for FAQ title
$faq-title: #365740 !default;

$faq-anchor: #003fee;
$faq-anchor-hover: #0231b3;

$splash-light-purple: #7c408a;
$splash-light-blue: #3f5aaa;

// =====================================================
//                   Splash Section
// =====================================================

.splash {
  background-image: url("/static/img/backgrounds/splash-background.svg");
  background-position: 85% 100%;
  background-color: #1b135e;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 650px;
  height: 100vh;
  z-index: 1;

  display: flex;
  justify-content: center;
}

#splash-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@include media-breakpoint-up(sm) {
  #splash-content {
    justify-content: center;
  }
}

#text-logo {
  width: 100%;
  max-width: 450px;
}

// =====================================================
//                    Transitions
//           About to Industry Transition
// =====================================================
$default-transition-height: 7vh;
.splash-transition {
  background: linear-gradient(to left bottom, transparent 49.5%, #f4ecf2 50%);
  height: $default-transition-height;
  margin-top: -$default-transition-height;
}

.about-transition {
  background: linear-gradient(to left bottom, #f4ecf2 49.5%, #7dcff5 50%);
  height: $default-transition-height;
}

.industries-transition {
  background: linear-gradient(to left bottom, #7dcff5 49.5%, white 50%);
  height: $default-transition-height;
}

.sponsors-transition {
  background: linear-gradient(to left bottom, #fff 49.5%, $faq-background 50%);
  height: $default-transition-height;
}

.faq-transition {
  background: linear-gradient(to left bottom, $faq-background 49.5%, white 50%);
  height: $default-transition-height;
}

.section {
  padding: 3vh 0;

  .section-title {
    font-size: 2.5em;
    font-weight: bold;
  }
}

.about-section {
  background-color: $about-background;

  .about-title {
    color: $about-title;
  }

  .about-content {
    flex-wrap: wrap-reverse;
  }

  .about-description {
    font-size: 1.15em;
    line-height: 1.5;
  }

  .about-img {
    width: 100%;
    max-width: 300px;
  }
}

.dummy-section {
  min-height: 600px;
}

.splash-btn-line {
  margin-top: 3vh;

  .splash-btn {
    font-size: 1.25em;
    font-weight: 500;
    background-color: #666;
    color: #fff;
    cursor: pointer;
    padding: 0.25em 1em;
    margin-right: 0.5em;
    text-align: center;
    border: none;
    border-radius: 10px;
    transition: background-color 0.25s ease, border 0.25s ease;
  }

  .splash-btn:focus {
    outline: 0;
  }

  .apply-btn {
    background-color: rgba(#1b135e, 0.5);
    border: solid 2px $theme-dark-green;
  }

  .apply-btn:hover {
    background-color: rgba($theme-dark-green, 0.5);
    border: solid 2px $theme-dark-green;
  }

  .sponsor-btn {
    background-color: rgba(#1b135e, 0.5);
    border: solid 2px $splash-light-purple;
  }

  .sponsor-btn:hover {
    background-color: rgba($splash-light-purple, 0.5);
    border: solid 2px $splash-light-purple;
  }
}

// ------------------------------------------
//            INDUSTRIES SECTIOM
// ------------------------------------------

.industries-section {
  background: #7dcff5;

  .centerme {
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
  }
  @-webkit-keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-250px * 7));
      transform: translateX(calc(-250px * 7));
    }
  }
  @keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-250px * 7));
      transform: translateX(calc(-250px * 7));
    }
  }
  .slider {
    display: flex;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .slider::after,
  .slider::before {
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    animation: scroll 90s linear infinite;
    display: -webkit-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(250px * 14);
  }
  .slide {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .holder {
    width: 250px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .slider-image {
    margin: 25px;
    height: 140px;
    width: 140px;
    box-shadow: 0 8px 16px rgba(30, 56, 68, 0.19);
    border: white 20px solid;
    border-radius: 50%;
    background-color: white;
  }

  .up:nth-child(1) {
    animation: floatup 2s 0.15s ease-in-out alternate infinite;
  }
  .up:nth-child(2) {
    animation: floatup 2s 0.25s ease-in-out alternate infinite;
  }

  @keyframes floatup {
    0% {
      transform: translate3d(0px, 0px, 0);
    }
    100% {
      transform: translate3d(0px, 4px, 0);
    }
  }

  .down {
    animation: floatup 2s 0s ease-in-out alternate infinite, floatright 4s 0.75s ease-in-out alternate infinite;
  }

  @keyframes floatdown {
    0% {
      transform: translate3d(0px, 0px, 0);
    }
    100% {
      transform: translate3d(0px, -4px, 0);
    }
  }
}

// =====================================================
//                    Sponsor section
// =====================================================

.sponsor-section {
  .sponsor-description {
    font-size: 1.15em;
  }

  .sponsor-img {
    padding: 1.5em 2em;
  }

  .sponsor-images .xl {
    height: auto;
    width: 300px;
    max-height: 300px;
    object-fit: contain;
  }

  .sponsor-images {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: -15px;
    margin-right: -15px;
    overflow: auto;
  }

  .sponsor-images .lg {
    height: auto;
    width: 300px;
    max-height: 200px;
    object-fit: contain;
  }

  @include media-breakpoint-up(sm) {
    .sponsor-images {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
    }

    .sponsor-images .xl {
      height: auto;
      width: 100%;
      flex: 1;
      object-fit: contain;
    }
  }
}

// =====================================================
//                      FAQs section
//           frequently asked questions
// =====================================================

.faq-section {
  background-color: $faq-background;
  color: $faq-title;

  .faq-title {
    font-weight: bold;
    color: $faq-title;
  }

  .question-block {
    margin: 20px 0;
  }

  // anchor colors to dark gray in FAQ section
  a {
    // default to underline
    text-decoration: underline;
    color: $faq-anchor;
    &:hover {
      color: $faq-anchor-hover;
    }
  }

  .question {
    font-size: 1.4em;
    font-weight: bolder;
  }

  .answer {
    font-size: 1.15em;
  }
  // HORIZONTAL RULE
  // separator
  hr {
    width: 30%;
    min-width: 150px;
    border: 0;
    height: 2px;
    background: $faq-title;
  }
}
