// Index Page Colors
$about-title: darken(#9c2fb5, 5%) !default;
$about-highlight: lighten($about-title, 48%) !default;

$industries-title: darken(#4744ac, 15%) !default;
$industries-background: darken(#93d6ee, 10%) !default;

$sponsors-title: darken(#199280, 2%) !default;
$sponsors-highlight: lighten($sponsors-title, 50%) !default;

$faq-background: #90eee3 !default;
$faq-title: darken(#245a2a, 0%) !default;
$faq-content: lighten(#1c2936, 10%) !default;

$faq-anchor: #003fee;
$faq-anchor-hover: #0231b3;

$team-title: lighten(#120f70, 10%) !default;
$team-highlight: lighten($team-title, 52%) !default;

$splash-light-purple: #7c408a;
$splash-light-blue: #3f5aaa;

$highlight-height: -0.5em;
$highlight-ypos: 0.07em;

// =====================================================
//                   Splash Section
// =====================================================

.splash {
  background-image: linear-gradient(to top, #4a40ac 10%, #4a40ac01 30%), url("/static/img/backgrounds/splash-background.svg");
  background-position: center -100px;
  background-color: #4a40ac;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 650px;
  height: 100vh;
  max-height: 1500px;
  z-index: 1;

  display: flex;
  justify-content: center;
}

#splash-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}

@include media-breakpoint-up(lg) {
  #splash-content {
    justify-content: center;
    text-align: left;
  }
  .splash {
    background-image: url("/static/img/backgrounds/splash-background.svg");
    background-position: -15vw;
    background-color: #1b135e;
    background-size: 175%;
  }
}

#text-logo {
  width: 100%;
  max-width: 450px;
}

.splash-btn-line {
  margin-top: 3vh;

  .splash-btn {
    font-size: 1.25em;
    font-weight: 500;
    background-color: #666;
    color: #fff;
    cursor: pointer;
    padding: 0.25em 1em;
    margin-right: 0.5em;
    text-align: center;
    border: none;
    border-radius: 10px;
    transition: background-color 0.25s ease, border 0.25s ease;
  }

  .splash-btn:focus {
    outline: 0;
  }

  .apply-btn {
    display: none;
    background-color: rgba(#1b135e, 0.5);
    border: solid 2px $theme-dark-green;
  }

  .apply-btn:hover {
    background-color: rgba($theme-dark-green, 0.5);
    border: solid 2px $theme-dark-green;
  }

  .sponsor-btn {
    display: none;
    background-color: rgba(#1b135e, 0.5);
    border: solid 2px $splash-light-purple;
  }

  .sponsor-btn:hover {
    background-color: rgba($splash-light-purple, 0.5);
    border: solid 2px $splash-light-purple;
  }
}

// =====================================================
//                    Transitions
//           About to Industry Transition
// =====================================================
$default-transition-height: 7vh;
.splash-transition {
  background: linear-gradient(to left bottom, transparent 49.5%, white 50%);
  height: $default-transition-height;
  margin-top: -$default-transition-height;
}

.about-transition {
  background: linear-gradient(to left bottom, white 49.5%, $industries-background 50%);
  height: $default-transition-height;
}

.industries-transition {
  background: linear-gradient(to left bottom, $industries-background 49.5%, white 50%);
  height: $default-transition-height;
}

.sponsors-transition {
  background: linear-gradient(to left bottom, white 49.5%, $faq-background 50%);
  height: $default-transition-height;
}

.faq-transition {
  background: linear-gradient(to left bottom, $faq-background 49.5%, white 50%);
  height: $default-transition-height;
}

.section {
  padding: 3vh 0;

  .section-title {
    padding-top: 1em;
    font-size: 2.5em;
    font-weight: bold;
    display: inline-block;
    padding-bottom: $highlight-ypos;
  }
}

.about-section {
  .about-title {
    color: $about-title;
    box-shadow: 0 $highlight-height 0 0 $about-highlight inset;
  }

  .about-content {
    flex-wrap: wrap-reverse;
  }

  .about-header {
    font-size: 1.15em;
    line-height: 1.5;
    font-weight: 600;
  }

  .about-description {
    font-size: 1.15em;
    line-height: 1.5;
  }

  .about-img {
    width: 100%;
    max-width: 300px;
  }
}

.dummy-section {
  min-height: 600px;
}

// ------------------------------------------
//            INDUSTRIES SECTIOM
// ------------------------------------------

.industries-section {
  background: $industries-background;

  .industries-title {
    color: $industries-title;
  }

  @keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 8));
    }
  }

  .slider {
    display: flex;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  @include media-breakpoint-down(sm) {
    .slider {
      overflow-x: auto;
    }
  }

  .slider .slide-track {
    animation: scroll 90s linear infinite;
    display: -webkit-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
  }
  .slide {
    width: calc(250px * 2);
    height: 500px;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
  }

  .holder {
    width: 250px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }

  .slider-image {
    margin: 25px;
    height: 140px;
    width: 140px;
    box-shadow: 0 8px 16px rgba(30, 56, 68, 0.19);
    border: white 20px solid;
    border-radius: 50%;
    background-color: white;
    transition: transform 0.25s;
  }

  .slider-image:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
  }

  .up {
    animation: floatup 2s 0.15s ease-in-out alternate infinite;
  }

  .up:nth-child(2n) {
    animation: floatup 2s 0.15s ease-in-out alternate infinite;
    animation-delay: 1s;
  }

  @keyframes floatup {
    0% {
      transform: translate3d(0px, 0px, 0);
    }
    100% {
      transform: translate3d(0px, 4px, 0);
    }
  }

  .down {
    animation: floatdown 2s 0s ease-in-out alternate infinite;
  }

  .down:nth-child(2n) {
    animation: floatdown 2s 0s ease-in-out alternate infinite;
    animation-delay: 1s;
  }

  @keyframes floatdown {
    0% {
      transform: translate3d(0px, 0px, 0);
    }
    100% {
      transform: translate3d(0px, -4px, 0);
    }
  }
}

.industry-description {
  h6 {
    font-size: 1.1rem;
  }
}

.industry-icon-tooltip {
  font-size: 1.25em !important;
}

// =====================================================
//                    Sponsor section
// =====================================================

.sponsor-section {
  .sponsors-title {
    color: $sponsors-title;
    box-shadow: 0 $highlight-height 0 0 $sponsors-highlight inset;
  }

  .sponsor-description {
    font-size: 1.15em;
  }

  .sponsor-img {
    padding: 2em;
  }

  .sponsor-images .xl {
    height: 200px;
    width: 300px;
    max-height: 300px;
    object-fit: contain;
  }

  .sponsor-images {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: -15px;
    margin-right: -15px;
    overflow: auto;
  }

  .sponsor-images .lg {
    height: auto;
    width: 300px;
    max-height: 200px;
    object-fit: contain;
  }

  @include media-breakpoint-up(sm) {
    .sponsor-images {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
    }

    .sponsor-images .xl {
      height: 200px;
      width: 100%;
      flex: 1;
      object-fit: contain;
    }
  }
}

// =====================================================
//                      FAQs section
//           frequently asked questions
// =====================================================

.faq-section {
  background-color: $faq-background;
  color: $faq-content;

  .faq-title {
    font-weight: bold;
    color: $faq-title;
  }

  .question-block {
    margin: 30px 0;
  }

  // anchor colors to dark gray in FAQ section
  a {
    // default to underline
    text-decoration: underline;
    color: $faq-anchor;
    &:hover {
      color: $faq-anchor-hover;
    }
  }

  .question {
    font-size: 1.4em;
    font-weight: bolder;
    margin-bottom: 20px;
  }

  .answer {
    font-size: 1.15em;
  }
  // HORIZONTAL RULE
  // separator
  hr {
    width: 30%;
    min-width: 150px;
    border: 0;
    height: 2px;
    background: $faq-content;
  }
}

// =====================================================
//                   Team section
// =====================================================

.team-section {
  .team-title {
    color: $team-title;
    box-shadow: 0 $highlight-height 0 0 $team-highlight inset;
  }
}
