// Index Page Colors
$light: #fff;
$light-pink: #f4ecf2;
$dark-purple: #632ed2;

$industries-title: darken(#4744ac, 15%) !default;
$industries-background: darken(#93d6ee, 10%) !default;

$team-title: rgb(99, 46, 210) !default;

$splash-light-purple: #7c408a;
$splash-light-blue: #3f5aaa;

$faq-background: #6387fe !default;
$faq-title: darken(white, 0%) !default;
$faq-content: lighten(white, 10%) !default;

$theme-light-green: #86eace;

$faq-anchor: #003fee;
$faq-anchor-hover: #0231b3;

$highlight-height: -0.5em;
$highlight-ypos: 0.07em;

$team-highlight: lighten($team-title, 52%) !default;

// =====================================================
//                   Splash Section
// =====================================================

.splash {
  // background-image: linear-gradient(to top, $dark-purple 10%, #4a40ac01 30%), url("/static/img/backgrounds/splash-background.svg");
  background-position: center -100px;
  background-color: $dark-purple;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 650px;
  height: 100vh;
  max-height: 1500px;
  z-index: 1;

  display: flex;
  justify-content: center;

  .applications-closed-message {
    display: none;
    color: #fdcb6e;
  }

  .discord {
    width: 90px;
    height: 90px;
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 1000;
  }
}

.mlh-trust-badge {
  display: block;
  max-width: 100px;
  min-width: 60px;
  position: absolute;
  right: 15px;
  top: 0;
  width: 10%;
  z-index: 10000;
}

#splash-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}

@include media-breakpoint-up(lg) {
  #splash-content {
    justify-content: center;
    text-align: left;
  }
  .splash {
    background-image: url("/static/img/backgrounds/splash-background.svg");
    background-position: -15vw;
    background-color: #1b135e;
    background-size: 175%;
  }
}

#text-logo {
  width: 100%;
  max-width: 450px;
}

.modal-content {
  .form-control:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 3px #4740af;
  }
}

.splash-btn-line {
  margin-top: 3vh;

  .splash-btn {
    font-size: 1.25em;
    font-weight: 500;
    background-color: #666;
    color: #fff;
    cursor: pointer;
    padding: 0.25em 1em;
    margin-right: 0.5em;
    text-align: center;
    border: none;
    border-radius: 10px;
    transition: background-color 0.25s ease, border 0.25s ease;
  }

  .splash-btn:focus {
    outline: 0;
  }

  .apply-btn {
    background-color: rgba(#1b135e, 0.5);
    border: solid 2px $theme-dark-green;
  }

  .apply-btn:hover {
    background-color: rgba($theme-dark-green, 0.5);
    border: solid 2px $theme-dark-green;
  }

  .sponsor-btn {
    background-color: rgba(#1b135e, 0.5);
    border: solid 2px $splash-light-purple;
  }

  .sponsor-btn:hover {
    background-color: rgba($splash-light-purple, 0.5);
    border: solid 2px $splash-light-purple;
  }
}

// =====================================================
//                    Transitions
//           About to Industry Transition
// =====================================================
$default-transition-height: 7vh;

.purple-white-transition {
  background: url("/static/img/transitions/purple_white_transition.png");
  height: 269px;
}

.white-purple-transition {
  background: url("/static/img/transitions/purple_white_transition.png");
  transform: rotate(180deg);
  height: 269px;
}

.blue-white-transition {
  background: url("/static/img/transitions/blue_white_transition.png");
  height: 134px;
}

.white-blue-transition {
  background: url("/static/img/transitions/blue_white_transition.png");
  transform: rotate(180deg);
  height: 134px;
}

.blue-green-transition-rot90 {
  background: url("/static/img/transitions/green_blue_transition.png");
  height: 134px;
  background-size: contain;
  transform: rotate(180deg);
}

.pink-blue-transition-rot90 {
  background: url("/static/img/transitions/pink_blue_transition.png");
  height: 134px;
  background-size: contain;
  transform: rotate(180deg);
}

.green-white-transition {
  background: url("/static/img/transitions/green_white_transition.png");
  height: 134px;
  background-size: contain;
}

.pink-white-transition {
  background: url("/static/img/transitions/white_pink_transition.png");
  height: 134px;
  background-size: contain;
  transform: rotate(180deg);
}

.white-pink-transition {
  background: url("/static/img/transitions/white_pink_transition.png");
  height: 134px;
  background-size: contain;
}

.main-event-transition {
  background: linear-gradient(to left bottom, $light-pink 49.5%, white 50%);
  height: $default-transition-height;
}

.about-transition {
  background: linear-gradient(to left bottom, white 49.5%, $industries-background 50%);
  height: $default-transition-height;
}

.industries-transition {
  background: linear-gradient(to left bottom, $industries-background 49.5%, white 50%);
  height: $default-transition-height;
}

.sponsors-transition {
  height: $default-transition-height;
}

.faq-transition {
  height: $default-transition-height;
}

.section {
  padding: 3vh 0;

  .section-title {
    color: $dark-purple;
    padding-top: 1em;
    font-size: 2.5em;
    font-weight: bold;
    display: inline-block;
    padding-bottom: $highlight-ypos;
  }
}

// =====================================================
//                Summer Bootcamp Section
// =====================================================

.summer-bootcamp-section {
  background-color: $light-pink;
  .summer-bootcamp-title {
    color: $dark-purple;
  }
  .summer-bootcamp-content {
    flex-wrap: wrap-reverse;
  }

  .summer-bootcamp-header {
    font-size: 1.15em;
    line-height: 1.5;
    font-weight: 600;
  }

  .summer-bootcamp-description {
    font-size: 1.15em;
    line-height: 1.5;
  }

  .summer-bootcamp-img {
    width: 100%;
    max-width: 300px;
  }
}

.main-event-section {
  background-color: $light;
  .main-event-title {
    color: $dark-purple;
  }
  .main-event-content {
    flex-wrap: wrap-reverse;
  }

  .main-event-header {
    font-size: 1.15em;
    line-height: 1.5;
    font-weight: 600;
  }

  .main-event-description {
    font-size: 1.15em;
    line-height: 1.5;
  }

  .main-event-img {
    width: 100%;
  }
}

.about-section {
  font-family: "Space Grotesk", monospace !important;

  .about-content {
    flex-wrap: wrap-reverse;
  }

  .about-header {
    font-size: 1.15em;
    line-height: 1.5;
    font-weight: 600;
  }

  .about-description {
    font-size: 1.15em;
    line-height: 1.5;
  }

  .about-img {
    width: 100%;
    max-width: 400px;
    height: 350px;
  }
}

.dummy-section {
  min-height: 600px;
}

// ------------------------------------------
//            EVENTS SECTION
// ------------------------------------------
.events-section {
  color: white;
  justify-content: center;
  .event-item {
    margin: 10px;
    border: 3px solid rgba(0,0,0,.125);
    border-color: $dark-purple;
    img {
      object-fit: contain;
    }
    .card-img-top:hover {
      box-shadow: none;
      transform: none;
    }
    .card-text {
      color: gray;
    }
    .card-body {
      background-color: white;
      color: $dark-purple;
      margin: 0 4px 4px 0;
      .card-title {
        pointer-events: none;
        font-weight: bold;
      }:hover {
        box-shadow: none;
        transform: none;
      }
      p:hover {
        box-shadow: none;
        transform: none;
      }
    }:hover{
      .card-title {
        text-shadow: 1px 1px #3f5aaa; 
      }
      box-shadow: 1.5px 1.5px #3f5aaa;
      transform: translate(-3px, -3px);
    }
  }

  .event-controls {
    display: flex;
    justify-content: center;
    margin: 10px;
    .event-prev{
      display: block;
      height: 40px;
      width: 40px;
      background: url("/static/img/icons/PixelHandPointing-PinkLeft.svg") no-repeat;
      background-size: contain;
      margin-right: 10px;
    }:hover {
      opacity: 0.6;
    }

    .event-next{
      display: block;
      height: 40px;
      width: 40px;
      background: url("/static/img/icons/PixelHandPointing-PinkRight.svg") no-repeat;
      background-size: contain;
      margin-left: 10px;
    }:hover {
      opacity: 0.6;
    }
  }
}


// ------------------------------------------
//            INDUSTRIES SECTION
// ------------------------------------------

.industries-section {
  background: $dark-pink;

  .industries-title {
    color: white;
  }

  @keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 8));
    }
  }

  .slider {
    display: flex;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  @include media-breakpoint-down(sm) {
    .slider {
      overflow-x: auto;
    }
  }

  .slider .slide-track {
    animation: scroll 90s linear infinite;
    display: -webkit-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
  }
  .slide {
    width: calc(250px * 2);
    height: 500px;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
  }

  .holder {
    width: 250px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }

  .slider-image {
    margin: 25px;
    height: 140px;
    width: 140px;
    box-shadow: 0 8px 16px rgba(30, 56, 68, 0.19);
    border: white 20px solid;
    border-radius: 50%;
    background-color: white;
    transition: transform 0.25s;
  }

  .slider-image:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
  }

  .up {
    animation: floatup 2s 0.15s ease-in-out alternate infinite;
  }

  .up:nth-child(2n) {
    animation: floatup 2s 0.15s ease-in-out alternate infinite;
    animation-delay: 1s;
  }

  @keyframes floatup {
    0% {
      transform: translate3d(0px, 0px, 0);
    }
    100% {
      transform: translate3d(0px, 4px, 0);
    }
  }

  .down {
    animation: floatdown 2s 0s ease-in-out alternate infinite;
  }

  .down:nth-child(2n) {
    animation: floatdown 2s 0s ease-in-out alternate infinite;
    animation-delay: 1s;
  }

  @keyframes floatdown {
    0% {
      transform: translate3d(0px, 0px, 0);
    }
    100% {
      transform: translate3d(0px, -4px, 0);
    }
  }
}

.industry-description {
  h6 {
    font-size: 1.1rem;
  }
}

.industry-icon-tooltip {
  font-size: 1.25em !important;
}

// =====================================================
//                    Sponsor section
// =====================================================

.sponsor-section {
  font-family: "Space Grotesk", monospace !important;
  background-color: white;
  .sponsors-title {
    color: rgb(99, 46, 210);
  }

  .sponsor-description {
    font-size: 1.15em;
  }

  .sponsor-img {
    padding: 2em;
  }

  .sponsor-images .xl {
    height: 200px;
    width: 300px;
    max-height: 300px;
    object-fit: contain;
  }

  .sponsor-images {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: -15px;
    margin-right: -15px;
    overflow: auto;
  }

  .sponsor-images .lg {
    height: auto;
    width: 300px;
    max-height: 200px;
    object-fit: contain;
  }

  @include media-breakpoint-up(sm) {
    .sponsor-images {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
    }

    .sponsor-images .xl {
      height: 200px;
      width: 100%;
      flex: 1;
      object-fit: contain;
    }
  }
}

// =====================================================
//                      FAQs section
//           frequently asked questions
// =====================================================

.faq-section {
  background-color: $faq-background;
  color: $faq-content;
  font-family: "Space Grotesk", monospace !important;

  .faq-title {
    font-weight: bold;
    color: $faq-title;
  }

  .question-block {
    margin: 30px 0;

    .dropdown-faq {
      border-radius: 20px;
      padding: 10px;
      margin: 0;
      img {
        height: 1.4em;
        width: 1.4em;
        margin-right: 2%;
        margin-left: 1.5%;
        overflow: hidden;
        transition-duration: 0.8s;
        transition-property: transform;
      } img:hover {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
      }
      h4 {
        padding: 0;
        margin: 0;
      }
    }
    .dropdown-faq:hover {
      background-color: $theme-light-green;
      text-shadow: 1.5px 1.5px $splash-light-blue;
    }
  }

  // anchor colors to dark gray in FAQ section
  a {
    // default to underline
    text-decoration: underline;
    color: $faq-anchor;
    &:hover {
      color: $faq-anchor-hover;
    }
  }

  .question {
    font-size: 1.4em;
    font-weight: bolder;
    margin-bottom: 20px;
    pointer-events: none;
  }

  .answer {
    margin-top: 3%;
    font-size: 1.15em;
    color: #e0dfdf;
    margin-left: 9%;
    display: none;
  }
  // HORIZONTAL RULE
  // separator
  hr {
    width: 30%;
    min-width: 150px;
    border: 0;
    height: 2px;
    background: $faq-content;
  }
}

// =====================================================
//                   Team section
// =====================================================

.team-section {
  .team-title {
    color: $team-title;
    box-shadow: 0 $highlight-height 0 0 $team-highlight inset;
  }
}

// =====================================================
//                   Countdown Timer
// =====================================================

#timer {
  background: -webkit-linear-gradient(#4740af, #ff99cc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 100px;
  font-weight: bolder;
  padding-bottom: 20px;
}

#clockdiv{
  font-family: "Space Grotesk", monospace !important;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
  padding-bottom: 50px;
}

#clockdiv > div{
  font-size: 50px;
  padding: 10px;
  border-radius: 3px;
  background: -webkit-linear-gradient(#4740af, #ff99cc);
  display: inline-block;
}

#clockdiv div > span{
  padding: 15px;
  border-radius: 3px;
  /*background: -webkit-linear-gradient(#4740af, #ff99cc);*/
  display: inline-block;
}

.smalltext{
  font-family: "Space Grotesk", monospace !important;
  padding-top: 5px;
  font-size: 50px;
}