
$splash-light-purple: #7c408a;

#industry-modal {

  .industry-modal-body {
    .industry-modal-nav {
      display: flex;
      overflow: auto;
      flex-direction: row;
      flex-wrap: nowrap;
    }

    $modal-nav-link-active-color: $splash-light-purple;
    .nav-pills .nav-link.active {
      background-color: transparent !important;
      color: $modal-nav-link-active-color;
      border: 2px solid $modal-nav-link-active-color;
    }

    .nav-pills .nav-link:focus {
      color: $modal-nav-link-active-color !important;
    }

    .nav-pills .nav-link:hover {
      color: $modal-nav-link-active-color !important;
    }

    /* Navbar should be vertical for bigger devices, with different highlighting */
    @include media-breakpoint-up(lg) {
      .industry-modal-nav {
        max-height: 30vh;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      }

      .nav-pills .nav-link.active {
        background-color: transparent !important;
        border: none !important;
        border-left: solid 3px $modal-nav-link-active-color !important;
        border-radius: 0 !important;
      }

      .nav-pills .nav-link:focus {
        color: $modal-nav-link-active-color !important;
      }

      .nav-pills .nav-link:hover {
        color: $modal-nav-link-active-color !important;
      }
    }
  }

  .industry-modal-content {
    .industry-modal-content-img {
      width: 100%;
      max-height: 150px;
    }

    .industry-modal-content-sponsors {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;
      overflow: auto;
    }

    .industry-modal-sponsor-img {
      min-width: 200px;
    }
  }
}