
$splash-light-purple: #7c408a;

#industry-modal {

  .industry-modal-body {
    padding: 0 15px;

    .industry-modal-nav {
      display: flex;
      overflow: auto;
      flex-direction: row;
      flex-wrap: nowrap;
    }


    .modal-col {
      max-height: 70vh;
      overflow:auto;
    }

    .modal-col:nth-child(2n+1) {
      border-bottom: 1px solid #f3f3f3;
    }

    $modal-nav-link-active-color: $splash-light-purple;
    .nav-pills .nav-link.active {
      background-color: transparent !important;
      color: $modal-nav-link-active-color;
      border-bottom: 2px solid $modal-nav-link-active-color;
      border-radius: 0px;
    }

    .industry-modal-nav {
      margin-left: -15px;
      margin-right: -15px;
    }

    .nav-pills .nav-link:focus {
      color: $modal-nav-link-active-color !important;
    }

    .nav-pills .nav-link:hover {
      color: $modal-nav-link-active-color !important;
    }

    /* Navbar should be vertical for bigger devices, with different highlighting */
    @include media-breakpoint-up(lg) {
      .industry-modal-nav {
        flex-direction: column;
        align-items: stretch;
        flex: 1;
      }

      .modal-col:nth-child(2n+1) {
        border-right: 1px solid #f3f3f3;
      }
  

      .nav-pills .nav-link.active {
        background-color: transparent !important;
        border: none !important;
        padding-left: 13px !important;
        border-left: solid 3px $modal-nav-link-active-color !important;
        border-radius: 0 !important;
      }

      .nav-pills .nav-link:focus {
        color: $modal-nav-link-active-color !important;
      }

      .nav-pills .nav-link:hover {
        color: $modal-nav-link-active-color !important;
      }
    }
  }

  .industry-modal-content {
    .bg-gradient {
      background: linear-gradient(to bottom, #7dcff5, transparent);
    }
    .industry-modal-content-img {
      margin: 25px;
      height: 140px;
      width: 140px;
      box-shadow: 0 8px 16px rgba(30, 56, 68, 0.19);
      border: white 20px solid;
      border-radius: 50%;
      background-color: white;
    }

    .industry-modal-content-sponsors {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;
      overflow: auto;
    }

    .industry-modal-sponsor-img {
      height: 200px;
      width: 250px;
      object-fit: contain;
      padding: 15px;
    }
  }
}