
$splash-light-purple: #7c408a;

#industry-modal {

  .modal-dialog {
    width: auto;
  }

  .industry-modal-body {
    .nav-pills .nav-link {
      color: #007bff;
      border-radius: 0 !important;
    }

    .nav-pills .nav-link.active {
      background-color: transparent !important;
      border: none !important;
      border-left: solid 3px $splash-light-purple !important;
      border-radius: 0 !important;
    }

    .nav-pills .nav-link:focus {
      color: #007bff !important;
    }

    .nav-pills .nav-link:hover {
      color: #007bff !important;
    }
  }

  .industry-modal-content {
    .industry-modal-content-img {
      width: 150px;
      height: auto;
    }
  }
}