.md-layout-nav {
  border-bottom: solid 1px $portal-nav-border;
  
  .navbar-nav {
    padding-right: 40px !important;
  }

  // make link blue
  .nav-link {
    color: $portal-dark-blue !important;
    padding: 10px 15px !important;
  }
}
// make logo smaller
.md-nav-logo {
  width: 36px;
  height: 36px;
  object-fit: contain;
}

.md-content {
  min-height: 80vh;
}

.centered {
  margin: 0 auto;
  text-align: center;
}
