$splash-light-purple: #7c408a;

.navbar:not(.md-layout-nav) {
  position: absolute !important;
  width: 100%;
  z-index: 100;
  padding-top: 1.25em !important;
  top: 0;

  .navbar-nav {
    font-size: 1.25em !important;
  }

  .nav-link {
    padding: 10px 15px !important;
    transition: color 0.25s ease;
  }

  .nav-link:hover {
    color: #58ffb4 !important;
  }
  .nav-link:focus {
    color: #58ffb4 !important;
  }
}

@include media-breakpoint-down(md) {
  .navbar-nav {
    padding: 1em !important;
    background: rgba(#fff, 0.9);
    backdrop-filter: blur(4px);
    color: #000;
    border-radius: 8px;
    margin-top: 15px;
  }
  .navbar-nav .nav-link {
    padding: 0.5em 0 !important;
    color: #000 !important;
  }
}
