$border-color-1: #80d5ff;
$border-color-2: #ffc3e7;
$border-color-3: #fff985;
$page-color: #00c3c3;

.team-card {
  font-family: "Space Grotesk", monospace !important;
  border: none !important;
  background-color: $page-color !important;
  max-width: 75vw;
  margin: 2vh auto;

  .team-card-img {
    box-shadow: 5px 5px $theme-light-green;
    margin: 2vh auto auto;
    width: 80%;
    height: auto;
    color: white;
  }

  .team-card-title {
    font-weight: 500;
    color: white;
  }

  .team-social-link {
    text-decoration: none;

    i {
      color: $dark-purple;
    }
  }
  /* PIXEL BORDER */
  .pxl-border {
    background: $border-color-3;
    box-shadow:
      /* Inner Background Color -- Same as inner */
        0   -6px 0  -2px $gray-200,
        0    6px 0  -2px $gray-200,
        0  -12px 0  -4px $gray-200,
        0   12px 0  -4px $gray-200,
        0  -18px 0  -8px $gray-200,
        0   18px 0  -8px $gray-200,
        0  -24px 0 -12px $gray-200,
        0   24px 0 -12px $gray-200,
      
      /* Inner Border */
      -2px  0   0   0   $border-color-1,
        2px  0   0   0   $border-color-1,
        0   -4px 0   0   $border-color-1,
        0    4px 0   0   $border-color-1,
        0  -10px 0  -2px $border-color-1,
        0   10px 0  -2px $border-color-1,
        0  -14px 0  -4px $border-color-1,
        0   14px 0  -4px $border-color-1,
        0  -20px 0  -8px $border-color-1,
        0   20px 0  -8px $border-color-1,
        0  -26px 0 -12px $border-color-1,
        0   26px 0 -12px $border-color-1,
      
      /* Middle Border -- Accent */
      -4px  0   0   0   $border-color-2,
        4px  0   0   0   $border-color-2,
        0   -2px 0   2px $border-color-2,
        0    2px 0   2px $border-color-2,
        0   -8px 0   0px $border-color-2,
        0    8px 0   0px $border-color-2,
        0  -12px 0  -2px $border-color-2,
        0   12px 0  -2px $border-color-2,
        0  -16px 0  -4px $border-color-2,
        0   16px 0  -4px $border-color-2,
        0  -22px 0  -8px $border-color-2,
        0   22px 0  -8px $border-color-2,
        0  -28px 0 -12px $border-color-2,
        0   28px 0 -12px $border-color-2,
      
      /* Outer Border */
      -6px  0   0   0   $border-color-3,
        6px  0   0   0   $border-color-3,
        0    0   0   4px $border-color-3,
        0   -6px 0   2px $border-color-3,
        0    6px 0   2px $border-color-3,
        0  -10px 0   0   $border-color-3,
        0   10px 0   0   $border-color-3,
        0  -14px 0  -2px $border-color-3,
        0   14px 0  -2px $border-color-3,
        0  -18px 0  -4px $border-color-3,
        0   18px 0  -4px $border-color-3,
        0  -24px 0  -8px $border-color-3,
        0   24px 0  -8px $border-color-3,
        0  -30px 0 -12px $border-color-3,
        0   30px 0 -12px $border-color-3;
    }
}