.team-card {
  font-family: "Space Grotesk", monospace !important;
  border: none !important;
  max-width: 75vw;
  margin: 2vh auto;

  .team-card-img {
    margin: 2vh auto auto;
    width: 70%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba($splash-light-purple, 0.5);
  }

  .team-card-title {
    font-weight: 500;
  }

  .team-social-link {
    text-decoration: none;

    i {
      color: $splash-light-purple;
    }
  }
}
