.team-card {
  border: dotted 1px #666 !important;
  max-width: 75vw;
  margin: 2vh auto;

  .team-card-img {
    margin: auto;
    margin-top: 1vh;
    width: 70%;
    height: auto;
    border-radius: 50%;
  }

  .team-card-title {
    font-family: 'Work Sans', sans-serif !important;
    font-weight: 500;
  }

  .team-social-link {
    text-decoration: none;

    i {
      color: #666;
    }
  }
}