/* Variables */
:root {
  --jenga-width: 24vw;
  --jenga-height: 24vw;

  // Colors
  --hue-color: 240;

  --first-color: hsl($hue-color, 53%, 49%);
  --title-color: hsl($hue-color, 53%, 15%);
  --text-color: hsl($hue-color, 12%, 35%);
  --text-color-light: hsl($hue-color, 12%, 65%);
  --body-color: hsl($hue-color, 24%, 94%);

  --white-color: #fff;
  --jenga-block-color1: #fff;
  --jenga-block-color2: #fff;

  // ===================================
  // section background & font variables
  // ===================================
  --splash-page-bkg: #ffc8e2;
  --splash-page-font-color: #f06292;
  --splash-page-font-shadow: #c2185b;

  --info-page-bkg: #fcf6bd;
  --info-page-font-color: #fbc02d;
  --info-page-font-shadow: #f57f17;

  --faq-page-bkg: #a9def9;
  --faq-page-font-color: #81c8ec;
  --faq-page-font-shadow: #499dc8;

  --sponsors-page-bkg: lightpink;
  --sponsors-page-font-color: #f791a0;
  --sponsors-page-font-shadow: #e96b7e;

  --team-page-bkg: #e4c1f9;
  --team-page-font-color: #cc8cf1;
  --team-page-font-shadow: #b33fc8;

  --about-page-bkg: #ffeddb;
  --about-page-font-color: #e6bd94;
  --about-page-font-shadow: #edb680;

  // TODO: events page to be removed?
  --events-page-bkg: lightgreen;
}
