/* Variables */

:root {
    --jenga-width: 24vw;
    --jenga-height: 24vw;

    // Colors
    --hue-color: 240;

    --first-color: hsl($hue-color, 53%, 49%);
    --title-color: hsl($hue-color, 53%, 15%);
    --text-color: hsl($hue-color, 12%, 35%);
    --text-color-light: hsl($hue-color, 12%, 65%); 
    --body-color: hsl($hue-color, 24%, 94%);

    --white-color: #FFF;
    --jenga-block-color1: #FFF;
    --jenga-block-color2: #FFF;

    // backgrounds
    --splash-page-bkg: #FF99C8;
    --info-page-bkg: #FCF6BD;
    --faq-page-bkg: #A9DEF9;
    --sponsors-page-bkg: lightpink;
    --team-page-bkg: #E4C1F9;
    --about-page-bkg: #FFEDDB;

    // TODO: events page to be removed?
    --events-page-bkg: lightgreen;
}
