<!-- footer partial start -->

<div class="footer-section">
    <div id="footer" class="container">
        <div class="row justify-content-center py-5">
            <div class="col-lg-2 text-center justify-center">
                <img class="footer-logo" src="/static/img/logos/main.png"/>
            </div>
            <div class="col-lg-6 text-center">
                <p class="my-2">For any questions, please email us at <a href="mailto:connect@tamudatathon.com">connect@tamudatathon.com</a></p>
                <span class="footer-doc-links my-2">
                    <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">MLH Code of Conduct</a>
                    •
                    <a href="https://2019.tamudatathon.com">2019 Datathon</a>
                    •
                    <a href="https://github.com/tamu-datathon-org">GitHub</a>
                </span>
            </div>
        </div>
    </div>
</div>

<!-- footer partial end -->