<!-- footer partial start -->

<div class="footer-section">
  <div id="footer" class="container td-container">
    <div class="row justify-content-left align-items-left">
      <div class="col-lg-1 mr-lg-4 col-md-12 justify-center my-3 text-center text-lg-left">
        <img class="footer-logo" src="/static/img/logos/main.svg" />
      </div>
      <div class="footer-content col text-left my-2 d-flex flex-column justify-content-center">
        <div class="row">
          <span>For any questions, please email us at 
            <a href="mailto:connect@tamudatathon.com">connect@tamudatathon.com</a>
          </span>
        </div>
        <div class="row">
          <span class="footer-doc-links">
            <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">MLH Code of Conduct</a>&nbsp; •&nbsp;
            <a href="https://2020.tamudatathon.com">2020 Datathon</a>
          </span>
        </div>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-lg-11 col-md-12 footer-content pl-lg-4 mt-lg-n4">
          <div class="row justify-content-md-center justify-content-lg-between align-items-center">
            <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6">
              <div class="my-3 mx-n2 footer-social-link-container justify-content-center justify-content-lg-start">
                <% req.footerSocialLinks.forEach(({linkClass, linkURL}) => { %>
                  <a class="px-2 footer-social-link" href="<%- linkURL %>" target="_blank">
                    <i class="fab <%- linkClass %> fa-2x"></i>
                  </a>
                  <% }) %>
              </div> 
            </div>
            <div class="px-3 text-center">
              <a href="https://vercel.com?utm_source=tamu-datathon&utm_campaign=oss" target="_blank"><img src="/static/img/sponsors/powered-by-vercel.svg" alt="Vercel" height="35rem" /></a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- footer partial end -->