<!-- footer partial start -->

<div class="footer-section">
  <div id="footer" class="container">
    <div class="row justify-content-center py-3 align-items-center">
      <div class="col-lg-1 col-md-12 justify-center my-3 text-center">
        <img class="footer-logo" src="/static/img/logos/main.png" />
      </div>
      <div class="col-sm-12 col-md text-center my-2">
        <p>For any questions, please email us at
          <a href="mailto:connect@tamudatathon.com">connect@tamudatathon.com</a>
        </p>
        <span class="footer-doc-links">
          <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">MLH Code of Conduct</a>&nbsp; •&nbsp;
          <a href="https://2020.tamudatathon.com">2020 Datathon</a>
        </span>
        <p class="vercel-promo m-0 pt-3">
          <a href="https://vercel.com?utm_source=tamu-datathon&utm_campaign=oss" target="_blank"><img src="/static/img/sponsors/powered-by-vercel.svg" alt="Vercel" height="35rem" /></a>
        </p>
      </div>
      <div class="col-sm-12 col-md my-3 footer-social-link-container">
        <% req.footerSocialLinks.forEach(({linkClass, linkURL}) => { %>
        <a class="px-2 footer-social-link" href="<%- linkURL %>" target="_blank">
          <i class="fab <%- linkClass %> fa-2x"></i>
        </a>
        <% }) %>
      </div>
    </div>
  </div>
</div>
<!-- footer partial end -->