<head>
  <title>
    <%= req.pageName %>
    - TAMU Datathon</title>
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
  <meta property="og:title" content="<%= req.pageName %> - TAMU Datathon">
  <meta property="og:site_name" content="TAMU Datathon">
  <meta property="og:url" content="tamudatathon.com">
  <meta property="og:description" content="<%= req.pageDescription || '' %>">
  <meta property="og:type" content="profile">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="tamudatathon.com">
  <meta name="twitter:title" content="<%= req.pageName %> - TAMU Datathon">
  <meta name="twitter:description" content="">

  <link rel="icon" type="image/png" href="static/img/favicon.ico" />

  <link rel="stylesheet" href="/static/css/style.css" />

  <link rel="stylesheet" href="https://unpkg.com/tippy.js@6.2.3/themes/light.css"/>

  <!-- Font Awesome 5 -->
  <script src="https://kit.fontawesome.com/db6415d72b.js" defer></script>

  <!-- include scripts for bootstrap -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous" defer></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" defer></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-138612638-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-138612638-1");
  </script>
</head>