<head>
  <title>
    <%= req.pageName %>
    - TAMU Datathon</title>
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
  <meta property="og:title" content="<%= req.pageName %> - TAMU Datathon">
  <meta property="og:site_name" content="TAMU Datathon">
  <meta property="og:url" content="tamudatathon.com">
  <meta property="og:description" content="<%= req.pageDescription || '' %>">
  <meta property="og:type" content="profile">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="tamudatathon.com">
  <meta name="twitter:title" content="<%= req.pageName %> - TAMU Datathon">
  <meta name="twitter:description" content="">
  <link rel="stylesheet" href="/static/css/style.css" />
  <!-- Font Awesome 5 -->
  <script src="https://kit.fontawesome.com/db6415d72b.js"></script>

  <!-- include bootstrap css files -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/brands.min.css">

  <!-- include scripts for bootstrap -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="/static/css/slick/slick.css">
  <link rel="stylesheet" type="text/css" href="/static/css/slick/slick-theme.css">
</head>