<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="<%= req.image_logo %>" width="45" height="45" class="d-inline-block align-top" alt="TAMU Datathon">
        <!-- TAMU Datathon -->
    </a>

    <!-- responsive toggle button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- keep me don't delete me :) -->
        <ul class="navbar-nav mr-auto">
            <!-- don't ask why but I need this to keep the nav aligned right -->
            <!-- https://www.codeply.com/go/aP0qhfNtGx/bootstrap-4-navbar-right-align -->
        </ul>
        <ul class="navbar-nav">
            <!-- tell me this is not the most elegant thing ever made -->
            <% req.navbarItems.forEach(({ name, route }) => { %>
                <li class="nav-item active">
                    <a class="nav-link" href="<%= route %>"><%= name %></a>
                </li>
            <% }) %>
        </ul>
        
    </div>
</nav>