<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
    <!-- responsive toggle button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mr-auto pt-5">
            <!-- tell me this is not the most elegant thing ever made -->
            <% req.navbarItems.forEach(({ name, route }) => { %>
                <li class="nav-item active">
                    <a class="nav-link" href="<%= route %>"><%= name %></a>
                </li>
            <% }) %>
        </ul>

    </div>
</nav>
