<div class="jumbotron jumbotron-fluid splash">
    <div class="container splash-content">
        <div class="row">
            <div class="col-md-6">
                <h1 class="display-4">TAMU Datathon Logo</h1>
                <p class="lead">October 17-18, 2020</p>
            </div>
            <div class="col-md-6">
                <img src="<%= req.image_logo %>" class="mx-auto d-block" width="300" alt="TAMU Datathon" />
            </div>
        </div>
    </div>
</div>