<div class="splash">
  <%- include ("navbar") %>
  <div id="splash-content" class="container">
    <div class="row">
      <div class="col-11 col-sm-9 col-md-8 col-lg-6" style="color:white;font-size:calc(25px + (35 - 25) * ((100vw - 300px) / (1600 - 300)));">
        <img id="text-logo" src="/static/img/logos/text-logo.png" class="text">
        Ocboter 17-18, 2020
        <div>
          <button type="button" class="btn-hover splash-button">Apply</button>
          <button type="button" class="btn-hover splash-button">Sponsor</button>
        </div>
      </div>
    </div>
  </div>
</div>
