<div class="splash">
  <%- include ("navbar") %>
  <div id="splash-content" class="col-md-10 d-flex flex-column">
    <div style="padding: 8em 0">
      <img id="text-logo" src="/static/img/logos/text-logo.png" class="text">
      <h2 class="text-white">October 17-18, 2020</h2>
      <div class="splash-btn-line">
        <button type="button" class="btn-hover splash-btn apply-btn">Apply</button>
        <button type="button" class="btn-hover splash-btn sponsor-btn">Sponsor</button>
      </div>
    </div>
  </div>
</div>
