<div class="section dummy-section">
    <div id="faq-end-transition"></div>
    <div id="team" class="container">
        <h1 class="section-title">
            Our Team
        </h1>
    </div>
</div>