<!DOCTYPE html>
<html lang="en">

<%- include ("./partials/head") %>

<body>
    <div class="container pt-5">
        <h1 class="text-primary">About TAMU Datathon!!!</h1>
        <p>Lorem ipsum dolor sit amet. Edit <code>scss/custom.scss</code> to make things pretty</p>
        <button class="btn btn-primary">Hello!</button>
    </div>
</body>

</html>
