<!DOCTYPE html>
<html lang="en">

<%- include ("./partials/head") %>

<body>

    <%- include ("./partials/navbar") %>

    <div id="splash">
        <div id="navbar">
            About Industries Sponsors FAQ Team
        </div>
        <div id="splash-content">
            TAMU Datathon Logo<br>
            Ocboter 17-18, 2020
        </div>
    </div>

    <div id="about">
        About Us
    </div>

    <div id="industries">
        <div id="industries-transition-1">
        </div>
        Industries
    </div>

    <div id="sponsors">
        Sponsors
    </div>

    <div id="faq">
        <div id="faq-transition-1">
        </div>
        FAQ's
        <div id="faq-transition-2">
        </div>
    </div>

    <div id="team">
        Team
    </div>

    <%- include ("./partials/footer") %>

</body>

</html>