<!DOCTYPE html>
<html lang="en">

<%- include ("./partials/head") %>

<body>

    <!-- custom "mardown" template partials for LIGHT navbar -->
    <%- include ("./partials/md/navbar") %>

    <!-- splash that holds content, maybe could be called jumbotron? -->
    <%- include ("./partials/md/splash") %>

    <hr />

    <%- include ("./partials/md/content") %>

</body>

</html>