<style>
  body {
    padding: 0;
    margin: 0;
  }

  html {
    padding: 0;
    margin: 0;
  }

  .cont {
    height: 100vh;
    width: 100vw;
    display: flex;
  }

  .cont .player {
    flex: 1;
    height: 100%;
  }

  .cont .chat {
    width: 400px;
    height: 100%;
  }
</style>
<div class="cont">
  <iframe src="https://player.twitch.tv/?channel=tamudatathon&parent=tamudatathon.com&autoplay=true" frameborder="0" scrolling="no" class="player" allowfullscreen="true"></iframe>
  <iframe frameborder="0" scrolling="no" src="https://www.twitch.tv/embed/tamudatathon/chat?parent=tamudatathon.com" height="100%" class="chat" width="100%"></iframe>
</div>