@import '../global';

@terminal_background: #272936;

body {
  background-color: #2B3D50;
}

.tdLogo {
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
  margin: 15vh auto auto auto;
  max-width: 70vw;
  color: white;

  @media @phone {
    margin-top: 10vh;
  }
}

.tdLogo.hide {
  opacity: 0;
}

.tdLogo.show {
  opacity: 1;
}

.terminalDiv {
  background-color: @terminal_background;
  width: 100%;
  height: 90vh;
  font-family: monospace;
  font-size: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.terminalTextDiv {
  padding: 30px 30px 30px 30px;
  overflow-y: scroll;
}

.terminal-output {
  color: #ebade5;

  @media @phone {
    font-size: 15px;
  }
}

.terminal-input-prefix {
  color: #68fe97;
  margin: auto 10px auto 10px;
}

.terminalHeader {
  background-color: #e1e1e1;
}

.terminalDot {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 0 auto;
  display: inline-block;
  margin-right: 10px;
}

#terminalRedDot{
  margin-left: 20px;
  background-color: #FF605C;
}

#terminalYellowDot{
  background-color: #FFBD44;
}

#terminalGreenDot{
  background-color: #00CA4E;
}

.terminalTitle {
  color: black;
  padding: 5px auto 5px auto;
  font-size: 17px;
  display: inline-block;
  position: relative;
  left: 30vw;
}