#faq.section {
  background-color: rgb(182, 215, 228); // change based on section theme
  border-top: 9px solid #59c6f0;
}

.faqs-title {
  font-size: 3.5rem !important;
  font-weight: bold;
  background: #60bad8;
  /* background: -webkit-linear-gradient( 135deg, #FD6E6A 10%, #FFC600 100%); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: -3px -3px #b8eeff;
  padding-bottom: 2%;
}
