// figure out coloring for transition between sections
// change font to work-sans?
// centering for logos 
// 
$transition-time: 0.5s;

.social-logo {
  width: 45px;
  height: 30px;
  margin: auto;
  display: block;
}
.vercel-logo {
  width: Min(50vw, 212px);
  aspect-ratio: 212/44;
  margin: auto;
  display: block;
}

#social-link {
  display: block;
  margin: auto;
}
#footer.section {
  background-color: #b9f8f0;
  color: black;
  font-family: 'Work Sans';
  padding: 2% 3%;

  
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.column {
  display:flex;
  float:left;
  padding:20px;
  justify-content: center;
  align-items: center;
}
.td-logo-div {
  width: 20%;
}
.social-links {
  width: 40%;
}
.text-content {
  text-align: center;
  width: 40%;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
#footer.fold-corner::after {
  content:"";
  display:table;
  clear:both;
}

#footer.fold-corner {
  &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      border-style: solid;
      border-width: .5rem;
      border-color: #ffffff #ffffff #c8d9dd #c8d9dd;
      transition: all $transition-time;
  }
  &:hover::after {
      border-width: 3rem;
  }
}




.td-logo {
  width: Min(12vw, 150px);
  aspect-ratio: 1/1;
  margin: auto;
  display: block;
}