#information.section {
  overflow: hidden;
  padding: 10px;
  // height: 1500px;
  // width: vw;
  // background-color: #DE7E5D; // change based on section theme
  // background-image: linear-gradient(to bottom right, #ec997e, #fa6622);
  background-color: #ec997e;

  h2 {
    // font-weight: bold;
    background: #f4a9a8;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: -3px -3px #fff;
  }

  body {
    // font-weight: 400;
    text-align: center;
  }

  .td-container {
    height: 950px;
    margin: auto;
    // max-width: unquote("max(70rem, 83.3333333%)") !important;
    width: 100%;
    flex-direction: column;
    // padding: 5px;
  }

  // container that holds all the info
  .three-cols {
    // height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    // margin-top: 100px;
    // padding-bottom: 100px;
    pointer-events: none;
  }

  // columns that hold each individual info part
  .infoColumn {
    text-align: center;
    position: relative;
    // height: 33%;
    padding: 10px;
  }

  // images that exist in the columns
  .infoImg {
    position: relative;
    width: 125px;
    height: 125px;
    // image-rendering: crisp-edges;
    // border-style:dotted;
  }

  .title {
    position: relative;
    font-size: 1.5em;
    font-weight: 400;
    // color: #fff;
    // text-shadow: -3px -3px #ff00b35d;
    z-index: 1;
  }

  span {
    display: block;
    position: absolute;
  }

  .container {
    width: 300px;
    height: 300px;
    margin: auto;
    left: 35px;
    user-select: none;

    display: block;
    position: absolute;
    margin-bottom: 0;
    top: 95%;
    transform: scale(2, 2);
    // perspective:100%;
    // transform:translate(-50%,-50%)
  }

  .box {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    transition: all 5s ease;
    transform-style: preserve-3d;
    // animation:rotation 5s ease infinite alternate;
    transform: rotateX(60deg) rotateY(0deg) rotate(225deg);
    // z-index: 0;
  }

  @keyframes rotation {
    from {
      transform: rotateX(60deg) rotateY(0deg) rotate(45deg);
    }
    to {
      transform: rotateX(65deg) rotateY(0deg) rotate(50deg);
    }
  }

  [class*="side-"] {
    background: #4b2d0b;
    display: block;
    position: absolute;
  }

  .side-front {
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 5px);
  }

  table {
    // background:url('https://i.pinimg.com/236x/bc/3c/22/bc3c229618002aae255d151c15fece98.jpg')no-repeat center / cover;
    background: #4b2d0b;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    font-size: 10px;
    color: #999;
    border-collapse: collapse;
    box-shadow: inset 0 0 1px 2px #2e1503, inset 0 0 1px 4px #4b2d0b;
  }

  table:before {
    width: 248px;
    height: 248px;
    top: 50%;
    left: 50%;
    display: block;
    position: absolute;
    content: "";
    z-index: 1;
    transform: translate(-50%, -50%);
  }

  td,
  th {
    width: 30px;
    height: 30px;
    position: relative;
  }

  .rotate {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(180deg) rotateY(180deg);
  }

  .side-top {
    width: 100%;
    height: 10px;
    top: 0;
    transform: rotateX(90deg) translate3d(0, 0, 5px);
  }

  .side-bottom {
    width: 100%;
    height: 10px;
    bottom: 0;
    transform: rotateX(-90deg) translate3d(0, 0, 5px);
  }

  .side-left {
    width: 10px;
    height: 100%;
    left: 0;
    transform: rotateY(-90deg) translate3d(0, 0, 5px);
  }

  .side-right {
    width: 10px;
    height: 100%;
    right: 0;
    transform: rotateY(90deg) translate3d(0, 0, 5px);
  }

  .side-back {
    width: 100%;
    height: 100%;
    transform: rotateY(180deg) translate3d(0, 0, 5px);
  }

  .dark {
    background: black;
  }

  .light {
    background: white;
  }

  // .pawn {
  // 	--topAmount: calc(28% + 1px);
  // 	--leftAmount: calc(49%);
  // 	top: var(--topAmount);
  // 	left: var(--leftAmount);

  // 	width: 20px;
  // 	height: 20px;
  // 	background-color:#dba162;
  // 	position: relative;
  // 	transform-style: preserve-3d;

  // 	transform: rotateX(60deg) rotateY(0deg) rotateZ(225deg);
  // 	perspective: 100%;
  // 	display: flex;
  // 	justify-content: center;
  // 	align-items: center;
  // 	z-index: 2;
  // }

  .newPawn {
    width: 100%;
    height: 100%;
    position: absolute;
    // margin: auto;
    --topAmount: -10px;
    --leftAmount: -5px;
    top: var(--topAmount);
    left: var(--leftAmount);
    // cursor: pointer;
  }

  .square {
    //left base
    width: 14px;
    height: 6px;
    background: #ac7e4d;
    float: left;
    transform: skew(180deg, 210deg);
    position: absolute;
    top: calc(28% + 1px);
    left: calc(49%);
    z-index: 3;
    cursor: pointer;
  }

  .square2 {
    // right base
    width: 16px;
    height: 6px;
    background: #f1b16c;
    float: left;
    transform: skew(180deg, 150deg);
    position: absolute;
    top: calc(28% + 1px);
    left: calc(54% - 1px);
    z-index: 3;
    cursor: pointer;
  }

  .square3 {
    //top base
    width: 16px;
    height: 18px;
    background: #dba162;
    float: left;
    transform: rotate(45deg) skew(-15deg, -15deg);
    position: absolute;
    top: calc(23% + 3px);
    left: calc(52% - 2px);
    z-index: 3;
    cursor: pointer;
  }

  .rect1 {
    //left body
    width: 6px;
    height: 20px;
    background: #ac7e4d;
    float: left;
    transform: skew(180deg, 210deg);
    position: absolute;
    top: calc(21% + 1px);
    left: calc(51% + 3px);
    z-index: 3;
    cursor: pointer;
  }

  .rect2 {
    //right body
    width: 6px;
    height: 20px;
    background: #f1b16c;
    float: left;
    transform: skew(180deg, 150deg);
    position: absolute;
    top: calc(21% + 1px);
    left: calc(54%);
    z-index: 3;
    cursor: pointer;
  }

  .leftHead {
    width: 10px;
    height: 10px;
    background: #ac7e4d;
    float: left;
    transform: skew(180deg, 210deg);
    position: absolute;
    top: calc(20%);
    left: calc(51%);
    z-index: 3;
    cursor: pointer;
  }

  .rightHead {
    width: 10px;
    height: 10px;
    background: #f1b16c;
    float: left;
    transform: skew(180deg, 150deg);
    position: absolute;
    top: calc(20%);
    left: calc(54%);
    z-index: 3;
    cursor: pointer;
  }

  .topHead {
    width: 11px;
    height: 11px;
    background: #dba162;
    float: left;
    transform: rotate(45deg) skew(-15deg, -15deg);
    position: absolute;
    top: calc(17%);
    left: calc(52% + 1px);
    z-index: 3;
    cursor: pointer;
  }

  @keyframes pawnMoveForward {
    from {
      top: var(--topAmount);
      left: var(--leftAmount);
    }
    to {
      top: calc(-1px);
      left: calc(15px);
    }
  }

  @keyframes pawnMoveBackward {
    from {
      top: calc(-1px);
      left: calc(15px);
    }
    to {
      top: var(--topAmount);
      left: var(--leftAmount);
    }
  }

  #mapHolderiFrame {
    width: 95%;
  }

  .infoImg {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .infoImg:hover, .infoImg:focus, .infoImg:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  @media screen and (min-width: 1000px) {
    .td-container {
      height: 890px;
    }
    .three-cols {
      height: 23%;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      margin-top: 20px;
      flex-direction: row;
      // margin-bottom: 30px;
    }
    .container {
      // top: 100%;
      position: absolute;
      opacity: 50%;
      transform: scale(5, 5);
      left: -5%;
      top: 56%;
      z-index: 0;
    }

    //holds address, map embed, and parking information (for overriding infoColumn)
    #mapHolderiFrame {
      width: 69%;
    }
  }
}
