#splash {
  display: flex;
  padding: 0%;
  // background: url('/static/img/backgrounds/wood.jpg');
  // background-repeat: no-repeat;
  // background-size: cover;
  background-color: #211008;
}

#splash .content {
  padding: 0%;
  border: none;
  width: 100%;
}

#car {
  z-index: 100;
  position: fixed;
  bottom: 0px;
  left: 45px;
}

/* Phone Screen */

@media (max-width: 719px) {
  .links-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 25px;
  }
  .links-container.left {
    display: none;
  }
  .td-container {
    width: 50%;
  }

  .link-wrapper {
    width: 51vw;
    height: 26vw;
    display: flex;
    align-items: center;
    background-color: transparent;
  }
  .link-wrapper:hover {
    background-color: yellow;
  }
  .link {
    width: 50vw;
    height: 25vw;
    display: flex;
    align-items: center;
    background-color: #492613;
    padding: 20px;
    color: white;
    filter: drop-shadow(0px -15px 10px rgba(0, 0, 0, 0.15));
  }
  .link.alt {
    background-color: #64341a;
  }
  .links-container a:hover {
    text-decoration: none;
  }

  .left.links-container .link-wrapper {
    justify-content: start;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
  }
  .left.links-container .link {
    justify-content: start;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
  }
  .right.links-container .link-wrapper {
    justify-content: end;
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
  }
  .right.links-container .link {
    justify-content: end;
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
  }
}


/* Phone + Tablet Screen */

@media (min-width: 720px) {
  
}


/* Horizontal Tablet Screen */

@media (min-width: 720px) {}


/* Laptop Screen */

@media (min-width: 1080px) {}


/* PC Screen */

@media (min-width: 1440px) {}