$crossword-highlight-color-green: #7ffdd3;
$crossword-highlight-text-color-green: #000;
$crossword-highlight-border-color-green: #00da91;

$crossword-highlight-color-blue: #7fd3fd;
$crossword-highlight-text-color-blue: #000;
$crossword-highlight-border-color-blue: #24b6ff;

$crossword-highlight-color-red: rgb(255, 150, 150);
$crossword-highlight-text-color-red: #000;
$crossword-highlight-border-color-red: rgb(255, 125, 125);

#splash {
  display: flex;
  overflow: hidden;
  padding: 0%;
  justify-content: space-between;
  background-color: white;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

#splash .content {
  padding: 0px;
  border: none;
  width: 100%;
}

.grid-row {
  display: flex;
}
.grid-row .square.big {
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}
.mini-row {
  width: 100%;
  height: 50%;
  display: flex;
}
.mini-row a {
  display: flex;
  width: 50%;
  height: 100%;
  text-decoration: none;
}
.mini-row a .mini-square {
  width: 100%;
}
.mini-row a:hover {
  text-decoration: none;
}
.mini-square {
  width: 50%;
  height: 100%;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
}

.ver {
  background-color: $crossword-highlight-color-green;
  border-top: 1px solid $crossword-highlight-border-color-green !important;
  border-bottom: 1px solid $crossword-highlight-border-color-green !important;
  color: $crossword-highlight-text-color-green !important;
}
.hor {
  background-color: $crossword-highlight-color-blue;
  border-left: 1px solid $crossword-highlight-border-color-blue !important;
  border-right: 1px solid $crossword-highlight-border-color-blue !important;
  color: $crossword-highlight-text-color-blue !important;
}
.ver.hor {
  border-top: 1px solid $crossword-highlight-border-color-blue !important;
  border-bottom: 1px solid $crossword-highlight-border-color-blue !important;
  background-color: rgb(255, 150, 150);
}
.top {
  border-top: 1px solid $crossword-highlight-border-color-green !important;
}
.bottom {
  border-bottom: 1px solid $crossword-highlight-border-color-green !important;
}
.left {
  border-left: 1px solid $crossword-highlight-border-color-green !important;
}
.right {
  border-right: 1px solid $crossword-highlight-border-color-green !important;
}

.mini-square.ver {
  background-color: $crossword-highlight-color-red;
  border-top: 1px solid $crossword-highlight-border-color-red !important;
  border-bottom: 1px solid $crossword-highlight-border-color-red !important;
  color: $crossword-highlight-text-color-red !important;
}
.mini-square.hor {
  background-color: $crossword-highlight-color-red;
  border-left: 1px solid $crossword-highlight-border-color-red !important;
  border-right: 1px solid $crossword-highlight-border-color-red !important;
  color: $crossword-highlight-text-color-red !important;
}

.mini-square.ver.green {
  background-color: $crossword-highlight-color-green;
  border-top: 1px solid $crossword-highlight-border-color-green !important;
  border-bottom: 1px solid $crossword-highlight-border-color-green !important;
  color: $crossword-highlight-text-color-green !important;
}
.mini-square.hor.green {
  background-color: $crossword-highlight-color-green;
  border-left: 1px solid $crossword-highlight-border-color-green !important;
  border-right: 1px solid $crossword-highlight-border-color-green !important;
  color: $crossword-highlight-text-color-green !important;
}

.mini-square.top {
  border-top: 1px solid $crossword-highlight-border-color-red !important;
}
.mini-square.bottom {
  border-bottom: 1px solid $crossword-highlight-border-color-red !important;
}
.mini-square.left {
  border-left: 1px solid $crossword-highlight-border-color-red !important;
}
.mini-square.right {
  border-right: 1px solid $crossword-highlight-border-color-red !important;
}

.random:hover {
  background-color: rgb(255, 255, 150);
}

/* Phone Screen */

@media (max-width: 849px) {
  .square {
    width: calc(100vw/10);
    height: calc(100vw/10);
  }
  .grid-row .square.big {
    width: calc(100vw/10);
    height: calc(100vw/10);
    font-size: calc(100vw/(10*2.5));
  }
  .mini-square {
    font-size: calc(100vw/(10*5));
  }
  .small-screen-only {
    display: block;
  }
  .grid-row.small-screen-only {
    display: flex;
  }
  .large-screen-only {
    display: none;
  }
}


/* Phone + Tablet Screen */

// @media (min-width: 720px) {
//   .square {
//     width: calc(100vw/10);
//     height: calc(100vw/10);
//   }
//   .grid-row .square.big {
//     width: calc(100vw/10);
//     height: calc(100vw/10);
//     font-size: calc(100vw/(10*2.5));
//   }
//   .mini-square {
//     font-size: calc(100vw/(10*5));
//   }
//   .small-screen-only {
//     display: block;
//   }
//   .small-screen-only.grid-row {
//     display: flex;
//   }
//   .large-screen-only {
//     display: none;
//   }
// }


/* Laptop Screen */

@media (min-width: 850px) {
  .square {
    width: calc(100vw/13);
    height: calc(100vw/13);
  }
  .grid-row .square.big {
    width: calc(100vw/13);
    height: calc(100vw/13);
    font-size: calc(100vw/(13*2.5));
  }
  .mini-square {
    font-size: calc(100vw/(13*5));
  }
  .small-screen-only {
    display: none;
  }
  .large-screen-only {
    display: block;
  }
  .grid-row.large-screen-only {
    display: flex;
  }
}


/* PC Screen */

@media (min-width: 1440px) {}