#sponsors.section {
  background-color: rgb(244,185,193); // change based on section theme
}

.sponsor-us {
  font-size: 1.2rem;
  font-weight: 300;
}

.sponsors-title{
  font-size: 3.5rem !important;
  font-weight: bold;
  background: #ff788c;
  /* background: -webkit-linear-gradient( 135deg, #FD6E6A 10%, #FFC600 100%); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: -3px -3px #ffd2d9;
}

.sponsor-section {
  .sponsors-title {
    color: rgb(99, 46, 210);
    font-weight: 700;
  }

  .sponsor-description {
    font-size: 1.15em;
  }

  .sponsor-img {
    padding: 2em;
  }

  .sponsor-img {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .sponsor-img:hover, .sponsor-img:focus, .sponsor-img:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .sponsor-images .xl {
    height: 12.5rem;
    width: 18.75rem;
    max-height: 18.75rem;
    object-fit: contain;
  }

  .sponsor-images {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: -15px;
    margin-right: -15px;
  }

  .sponsor-images .lg {
    height: auto;
    width: 18.75rem;
    max-height: 12.5rem;
    object-fit: contain;
  }

  @media (min-width: 576px) {
    .sponsor-images {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
    }

    .sponsor-images .xl {
      height: 12.5rem;
      width: 100%;
      flex: 1;
      object-fit: contain;
    }
  }
}
