#team.section {
  background-color: #dfbbed; // change based on section theme
  border-top: 9px solid #da7dff;
}

.team-title{
    font-size: 3.5rem !important;
    font-weight: bold;
    background: #cc6af2;
    /* background: -webkit-linear-gradient( 135deg, #FD6E6A 10%, #FFC600 100%); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: -3px -3px #f0cffc;
    padding-bottom:2%;
}