.flipped {
  transform: rotateY(180deg);
}

.team-title {
  font-size: 3.5rem !important;
  font-weight: bold;
  text-align: center;
  padding-bottom: 2%;
}

#team.section {
  // background-color: #ffffff; // change based on section theme


  $clue-bg-color: white;
  $clue-card-bg-color: rgb(11, 11, 53);
  $clue-card-bg-color-2: rgb(32, 32, 58);
  $clue-card-bg-color-3: rgb(40, 58, 109);
  $clue-card-name-color: white;

  $clue-card-border-radius: 6px;
  $clue-card-width: 200px;
  $clue-card-height: 300px;
  $clue-card-border-width: 5px;
  $clue-card-shadow-depth: 18px;


  .social {
    padding: 0;
    margin: 15px 0 0 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 300;
    overflow: hidden;

    * {
      pointer-events: none;
    }

    i {
      color: black;
    }

    li {
      list-style: none;
      padding: 6px;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: auto;
        text-decoration: none !important;
      }
    }
  }

  .team-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;



    .transparent {
      background: transparent;
    }

    .card {
      display: flex;
      align-items: center;
      border-color: darkgray;
      border: none;
      position: relative;
      padding: 1em 1em;
      margin: 1.0em;
      border-radius: 5px 5px 5px 5px;
      overflow: hidden;
      transition: border-radius 0s;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }

    .card:before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      border-style: solid;
      box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.4);
      width: 0;
      border-width: 12px;
      border-color: rgba(0, 0, 0, 0.4) white white rgba(0, 0, 0, 0.4);
      // box-shadow: 0px 80px 50px -30px rgba(0, 0, 0, 0.15);
      border-radius: 5px 0 0 0;
      transition: border-width .2s;
    }

    .card:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      border-radius: 5px;
      transition-delay: .1s;
    }

    .card:hover:before {
      border-width: 0px;
    }


    .clue-card {
      width: $clue-card-width;
      height: $clue-card-height;
      background-color: transparent;
      cursor: pointer;
      margin: 20px;

      border-radius: $clue-card-border-radius;

      .clue-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        border-radius: $clue-card-border-radius;
      }

      .clue-card-front,
      .clue-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 100;
        border-radius: $clue-card-border-radius;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }

      .clue-card-front {

        .clue-card-header {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0px;
          left: 0px;

          .clue-card-image {
            height: 100%;
            width: 100%;
            transition: all 1s;
            object-fit: cover;
            border-radius: $clue-card-border-radius;
            bottom: 24%;
            left: 0;
            position: relative;
            z-index: 190;
            opacity: 1;
            transition: all 3.0s;
            pointer-events: none;
          }
        }

        .clue-card-content {
          width: $clue-card-width;
          height: $clue-card-height;
          position: relative;
          overflow: hidden;
          border-radius: $clue-card-border-radius;

          .clue-card-name {
            z-index: 200;
            width: 110%;
            height: 16%;
            line-height: 1.3;
            left: calc(calc(0.1 * #{$clue-card-width}) / -2);
            bottom: 11%;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $clue-card-name-color;
            transition: all 0.5s ease-in-out; // transition timing
            text-align: center;

            .name {
              font-size: larger;
              font-weight: bold;

            }

            .position {
              font-size: small;
              font-weight: 400;
            }
          }

          .clue-card-photo {
            z-index: 195;
            //position: absolute;
            height: 80%;
            width: 100%;
            left: 0;
            //bottom: -250px;
            transition: all 0.5s ease-in-out;
            object-fit: cover;
            border-radius: $clue-card-border-radius;

          }
        }


      }

      .clue-card-back {
        background-color: white;
        transform: rotateY(180deg);
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding: 5px;
        align-items: center;

        .title {
          font-size: large;
        }

        .suspect {
          display: flex;
          justify-content: center;
          flex-direction: column;
          margin: 15px 0px 0px 0px;
        }

        .weapon {
          border-radius: 50%;
          padding: 3px;
          width: 45px;
          height: 45px;

          img {
            width: 40px;
            height: 40px;
          }
        }

        .words {
          display: flex;
          justify-content: space-evenly;
          flex-direction: row;
          margin: 3px;
          flex-wrap: wrap;

          span {
            padding: 3px 7px;
            border-radius: 15px;
            background-color: black;
            color: white;
            font-size: small;
            margin: 2px;
          }
        }
      }


    }

    .clue-card:hover {
      -webkit-transform: rotate3d(0, -1, 0, 10deg);
      transform: rotate3d(0, -1, 0, 10deg);
      -webkit-transition: -webkit-transform 0.2s ease;
      transition: -webkit-transform 0.2s ease;
      transition: transform 0.2s ease;
      transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    }

    .clue-card-shadow {
      -webkit-box-shadow: 0px 0px $clue-card-shadow-depth 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 0px $clue-card-shadow-depth 0px rgba(0, 0, 0, 0.5);
    }

    .clue-card-shadow::after {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      opacity: 0;
      -webkit-box-shadow: -3px 0px 10px 0px rgba(0, 0, 0, 0.33);
      box-shadow: -3px 0px 10px 0px rgba(0, 0, 0, 0.33);
      -webkit-transition: opacity 0.2s ease;
      transition: opacity 0.2s ease;
      border-radius: 6px;
    }

    .clue-card-shadow:hover::after {
      position: absolute;
      opacity: 1;
    }

    @media screen and (min-width: 414px) and (max-width: 554px) {
      .clue-card-content {
        width: 148px !important;
        height: 222px !important;
      }

      .clue-card {
        width: 148px !important;
        height: 222px !important;
      }

      .clue-card-border {
        width: 148px !important;
        height: 222px !important;
      }

      .team-content {
        padding: 0px;
      }

      .words {
        display: none !important;
      }

      .title {
        font-size: 1.1rem !important;
      }

      .memberName {
        font-size: 1rem !important;
      }

      .subtitle {
        font-size: 1rem !important;
      }

      .memberFact {
        font-size: 0.8rem !important;
        line-height: 13px;
        display: block;
      }

      .name {
        font-size: 1rem !important;
      }

      .position {
        font-size: 0.8rem !important;
      }

      .suspect {
        margin: 0px !important;
      }

      .social {
        display: none !important;
      }

      .clue-card-name {
        bottom: 7% !important;
      }
    }

    @media screen and (min-width: 370px) and (max-width: 413px) {
      .clue-card-content {
        width: 125px !important;
        height: 188px !important;
      }

      .clue-card {
        width: 125px;
        height: 188px !important;
      }

      .clue-card-border {
        width: 125px;
        height: 188px !important;
      }

      .team-content {
        padding: 0px;
      }

      .words {
        display: none !important;
      }

      .title {
        font-size: 1rem !important;
      }

      .memberName {
        font-size: 0.9rem !important;
      }

      .subtitle {
        font-size: 0.9rem !important;
      }

      .memberFact {
        font-size: 0.6rem !important;
        line-height: 10px;
        display: block;
      }

      .name {
        font-size: 0.8rem !important;

      }

      .position {
        font-size: 0.6rem !important;
      }

      .suspect {
        margin: 0px !important;
      }

      .social {
        display: none !important;
      }

      .clue-card-name {
        bottom: 7% !important;
      }
    }

  }

}

// HEREREREERRE____________________________________
@import url(https://fonts.googleapis.com/css?family=Montserrat);


.textContainer {
  margin-top: -10em;
  height: 400px;
  width: auto;
  align-items: center;
  justify-content: center;
}

svg {
  align-items: center;
  justify-content: center;
  display: block;
  font: 7em 'Montserrat';
  width: auto;
  height: auto;
  margin: 0 auto;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 30% 10%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 20s infinite linear;
}

.text-copy:nth-child(1) {
  stroke: #4D163D;
  animation-delay: -1;
}

.text-copy:nth-child(2) {
  stroke: #840037;
  animation-delay: -2s;
}

.text-copy:nth-child(3) {
  stroke: #BD0034;
  animation-delay: -3s;
}

.text-copy:nth-child(4) {
  stroke: #BD0034;
  animation-delay: -4s;
}

.text-copy:nth-child(5) {
  stroke: #FDB731;
  animation-delay: -5s;
}

@keyframes stroke-offset {
  100% {
    stroke-dashoffset: -50%;
  }
}

.clue-card-image-container {
  width: 200px;
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: black;



  // #2f40d8
  background-color: transparent;
  // padding : 10px;
  // background-color: rgba($color:#40d6ff, $alpha: 1);
  z-index: 5;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.clue-card-image {
  width: 175px;
  height: 175px;
  position: relative;
  object-fit: cover;


  // #2f40d8
  background-color: transparent;
  border: 1px solid #000;
  // padding : 10px;
  // background-color: rgba($color:#40d6ff, $alpha: 1);
  z-index: 5;
}

.rectangle {
  width: 200px;
  height: 100px;

  position: relative;

  background-color: rgba($color: #d8dbf3, $alpha: 1);
  // background-color: rgba($color:#40d6ff, $alpha: 1);
  z-index: 6;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-top: 20px #8c9cf5;
}


.square {
  width: 200px;
  height: 200px;
  position: relative;
  // #2f40d8
  background-color: rgba($color: #8c9cf5, $alpha: 1);
  // background-color: rgba($color:#40d6ff, $alpha: 1);
  z-index: 5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.square2 {
  width: 200px;
  height: 200px;
  position: relative;

  // background-color: rgba($color: #2b49f3, $alpha: 0.25);
  z-index: 5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.rhombus {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(45deg);
  transform-origin: center;
  z-index: -1;
  background-color: rgb(0, 162, 255);
  // background-color: #2f40d8;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border: .1px solid rgb(100, 96, 96);
}


.inner-rhombus {

  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 30px;
  left: 30px;
  transform: rotate(45deg);
  transform-origin: center;

  width: 70%;
  height: 70%;
  z-index: 6;
  overflow: hidden;
}

.photo {
  width: 200px;
  height: 195px;
  transform: rotate(-45deg) translateX(0px) translateY(-42px);

  background-size: cover;
  // top: -20px;
  // left: -70px;
  position: relative;

}