<div class="section about-section">
  <div id="about" class="container  td-container">
    <div class="about-content row justify-content-between">
      <div class="col-lg-7 col-md-7 col-sm-12 d-flex flex-column justify-content-center">
        <h1 class="section-title-1 about-title">
          <span>A</span><span>B</span><span>O</span><span>U</span><span>T</span>
        </h1>
        <br>
        <p class="about-header">
          World's First & Only MLH Data Science Hackathon!
        </p>
        <p class="about-description">
          TAMU Datathon exists to connect the top talent in DS/ML with top companies, lower the bar to entry into DS/ML, and encourage collaboration across disciplines.
        </p>
      </div>
      <div class="about-image-container col-lg-4 col-md-4 col-sm-12 d-flex justify-content-center align-items-center py-3">
        <img class="about-image" src="/static/img/graphics/kyleField.png">
      </div>
    </div>
  </div>
</div>