<div id="about" class="section">
  <div class="transition">
    <img height="100" src="/static/img/transitions/triangle_lightcoral.svg" alt="">
  </div>
  
  <body>
    <ul class="bg_block">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>

    </ul>
  </body>

  <div class="content about-content" id="about-content">
    <section class="about container">
      <div class="about__container">
        <div class="about__content">
          <!--about page text-->
          <div class="about__background" id="about-background">
            <div class="about__background-oval"></div>
            <div class="about__background-blocks container" id = "about-background-blocks">
            </div>
          </div>

           <!--jenga block-->
           <div class="about__jenga">
            <div class="about__text" id="about-text">
              <div class="about__text-title" id="about-title">ABOUT</div>
              <div class="about__text-subtitle" id="about-subtitle">World's First & Only MLH Data Science Hackathon!</div>
              <div class="about__text-text" id="about-text">TAMU Datathon exists to connect the top talent in DS/ML with top companies, lower the bar to entry into DS/ML, and encourage collaboration across disciplines.</div>
            </div>

              <div class="jenga__content">
                <div class="jenga__layer0" id="jenga-layer0"></div>
               <div class="jenga__layer1" id="jenga-layer1">
                  <div class="jenga__block" id="block-1"></div>
                  <div class="jenga__block" id="block-1"=></div>
                  <div class="jenga__block" id="block-1"></div>
                </div>
                
               <div class="jenga__layer2">
                 <div class="jenga__block" id="block-2"></div>
                 <div class="jenga__block" id="block-2"></div>
                 <div class="jenga__block" id="block-2"></div>
                </div>

                <div class="jenga__layer3">
                  <div class="jenga__block" id="block-1"></div>
                  <div class="jenga__block" id="block-1"=></div>
                  <div class="jenga__block" id="block-1"></div>
                </div>

                <div class="jenga__layer4">
                  <div class="jenga__block" id="block-2"></div>
                  <div class="jenga__block" id="block-2"></div>
                  <div class="jenga__block" id="block-2"></div>
                 </div>

                <div class="jenga__layer5">
                  <div class="jenga__block" id="block-1"></div>
                  <div class="jenga__block" id="block-1"=></div>
                  <div class="jenga__block" id="block-1"></div>
                </div>

                <div class="jenga__layer6">
                  <div class="jenga__block" id="block-2"></div>
                  <div class="jenga__block" id="block-2"></div>
                  <div class="jenga__block" id="block-2"></div>
                 </div>

                 <div class="jenga__layer7">
                  <div class="jenga__block" id="block-1"></div>
                  <div class="jenga__block" id="block-1"=></div>
                  <div class="jenga__block" id="block-1"></div>
                </div>

                 <div class="jenga__layer8">
                  <div class="jenga__block" id="block-2"></div>
                  <div class="jenga__block" id="block-2"></div>
                  <div class="jenga__block" id="block-2"></div>
                 </div>
              </div>
          </div>

         
        
          <!--Footer Content-->
           <!-- <div class="footer__container grid">
              <div class="footer__content grid">
                <div class="footer__background"></div>
      
              </div>
            </div>
          -->
    


        </div>
      </div>
    </section>
  </div>

    
    About Test
    
  </div>

