<div class="section about-section">
  <div id="about" class="container">
    <div class="about-content row justify-content-between">
      <div class="col-lg-6 col-md-6 col-sm-12 d-flex flex-column">
        <div class="container px-0">
          <h1 class="section-title about-title">
            About
          </h1>
        </div>
        <br>
        <p class="about-header">
          World's First & Only MLH Data Science Hackathon!
        </p>
        <p class="about-description">
          TAMU Datathon exists to connect the top talent in DS/ML with top companies, lower the bar to entry into DS/ML, and encourage collaboration across disciplines.
        </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 d-flex justify-content-center align-items-center py-3">
        <img src="/static/img/graphics/about.svg" class="about-img" />
      </div>
    </div>
  </div>
</div>