<script src="../../../static/js/partials/snap.svg-min.js"></script>
<div id="about" class="section">
  <div class="about__text-title section-title" id="about-title">ABOUT</div>
  <div class="about_text-subtitle">
    The World's First MLH Data Science Hackathon
  </div>
  <div class="about__text-content">
    TAMU Datathon is a unique opportunity that connects the top talent in DS/ML with top companies, lowers the bar to entry into DS/ML, and
    encourages interdisciplinary collaboration
  </div>
  <div class="birdContainer">
    <svg id="bird" class="bird" version="1.0" xmlns="http://www.w3.org/2000/svg" width="400" height="400" viewBox="0 0 515 515">
      <path id="wing_b" d="M55 50 L375 300 L207 402Z" d2="M190 510 L375 280 L210 380Z" fill="#be90a8" />
      <path id="head" d="M380 195 L488 252 L375 263Z" d2="M380 195 L478 252 L375 263Z" fill="#be90a8" />
      <path id="body" d="M20 516 L380 195 L375 300Z" d2="M20 496 L380 195 L375 280Z" fill="#915574" />
      <path id="wing_f" d="M375 300 L220 394 L120 0Z" d2="M375 280 L210 380 L310 500Z" fill="#aa6e8e" />
    </svg>
  </div>
</div>
</div>