<div id="about" class="section">
  <ul class="bg_block">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>

  </ul>

  <div class="transition">
    <img height="100" src="/static/img/transitions/triangle_lightcoral.svg" alt="">
  </div>





  <div class="text">
    <h1 style="color:#FC9523;" align="center"><b>ABOUT</b></h1>
    <br>
    <h4 style="color:black; min-width: 300px;" align="center"><b>World's First & Only MLH Data Science Hackathon!</b></h4>
  
   <p style="color:black; min-width: 300px;" align="center">TAMU Datathon exists to connect the top talent in DS/ML with top companies, lower the bar to entry into DS/ML, and encourage collaboration across disciplines.</p>
  </div>

  


  <div class="jenga">
    <h1 style="color:black;" align="center">Text Fading</h1>
    <div class="layer1">
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
    </div>
    <div class="layer2">
      <div class="block2"></div>
      <div class="block2"></div>
      <div class="block2"></div>
    </div>
    <div class="layer3">
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      </div>
    <div class="layer4">
      <div class="block2"></div>
      <div class="block2"></div>
      <div class="block2"></div>
    </div>
    <div class ="layer5">
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
    </div>
    <div class ="layer6">
      <div class="block2"></div>
      <div class="block2"></div>
      <div class="block2"></div>
    </div>
    <div class="layer7">
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
    </div>
    <div class ="layer8">
      <div class="block2"></div>
      <div class="block2"></div>
      <div class="block2"></div>
    </div>
  </div>
    
  
  <!--<div class="content">
    <h1 style="background-color:powderblue;">This is a heading</h1>
  </div>-->
</div>