<div id="about" class="section">
  <div class="transition">
    <img height="100" src="/static/img/transitions/triangle_lightcoral.svg" alt="">
  </div>
  <div class="content">
    About content goes here
  </div>
</div>