<div id="countdown" class="row">
  <div id="clockdiv">
    <div>
      <span class="days pixel-font"></span>
      <div>DAYS</div>
    </div>
    <div>
      <span class="hours pixel-font"></span>
      <div>HRS</div>
    </div>
    <div>
      <span class="minutes pixel-font"></span>
      <div>MIN</div>
    </div>
    <div>
      <span class="seconds pixel-font"></span>
      <div>SEC</div>
    </div>
  </div>
</div>