<div id="countdown" class="row">
  <div id="clockdiv">
    <div>
      <span class="days pixel-font"></span>
      <div>Days</div>
    </div>
    <div>
      <span class="hours pixel-font"></span>
      <div>Hours</div>
    </div>
    <div>
      <span class="minutes pixel-font"></span>
      <div>Minutes</div>
    </div>
    <div>
      <span class="seconds pixel-font"></span>
      <div>Seconds</div>
    </div>
  </div>
</div>