<div id="countdown" class="row">
  <div id="clockdiv">
    <div>
      <span class="days pixel-font"></span>
      <div class="time-label">DAYS</div>
    </div>
    <div>
      <span class="hours pixel-font"></span>
      <div class="time-label">HRS</div>
    </div>
    <div>
      <span class="minutes pixel-font"></span>
      <div class="time-label">MIN</div>
    </div>
    <div>
      <span class="seconds pixel-font"></span>
      <div class="time-label">SEC</div>
    </div>
  </div>
</div>