<div id="countdown" class="container-sm">
  <div id="clockdiv">
    <div>
      <span class="days"></span>
      <div class="smalltext">DAYS</div>
    </div>
    <div>
      <span class="hours"></span>
      <div class="smalltext">HRS</div>
    </div>
    <div>
      <span class="minutes"></span>
      <div class="smalltext">MIN</div>
    </div>
    <div>
      <span class="seconds"></span>
      <div class="smalltext">SEC</div>
    </div>
  </div>
</div>