<div id="events" class="section">
  <div class="transition">
    <img height="100" src="/static/img/transitions/triangle_lightgreen.svg" alt="">
  </div>
  <div class="content">
    Events content goes here
  </div>
</div>