<div class="section events-section">
  <div id="event" class="container">
    <!-- events section title -->
    <div class="row">
      <div class="col-md">
        <h1 class="section-title event-title">
          Featured Events
        </h1>
      </div>
    </div>
    <!-- carousel -->
      <div class="event-carousel">
        <% req.EVENTS.forEach(({ name, img, description, date }, index) => { %>
          <div class="event-item card">
            <img class="card-img-top" src="/static/img/icons/carousel-image.svg" alt="<%- name %>">
            <div class="card-body">
              <h4 class="card-title"><%- name %></h4>
              <p class="card-text"><%= description %></p>
              <a href="<%- req.navbarSamePageItems[1].href %>" class="btn btn-primary">
                events page
                <i class="fa fa-external-link"></i>
              </a>
            </div>
          </div>
        <% }) %>
      </div>
      <div class="event-controls">
        <div class="event-prev"></div>
        <div class="event-next"></div>
      </div>
  </div>
</div>
