<div class="section events-section">
  <div id="event" class="container">
      <!-- events section title -->
      <div class="row">
        <div class="col-md">
          <h1 class="section-title event-title">
            Events
          </h1>
        </div>
      </div>
      <!-- events card deck -->
      <div class="row">
        <div class="card-deck">
          <% req.EVENTS.forEach(({ name, description, img }, index) => { %>
            <div class="card text-center justify-content-center">
              <img class="card-img-top" src="/static/img/graphics/<%- img %>" alt="<%- name %>">
              <div class="card-img-overlay d-flex align-self-center mx-auto">
                <p class="card-title align-self-center mx-auto"><%- name %></p>
                <!--<p class="card-text"><%= description %></p>-->
                <!--<a href="#" class="btn btn-primary">Add to calendar</a>-->
              </div>
            </div>
          <% }) %>
        </div>
      </div>
  </div>
</div>
