<div id="faq" class="section">
  <div class="faqs-title section-title">FAQS</div>
  <div class="content">
    <div class="faq-content-container faq-list">
      <div class="faq-column">
        <div class="faq-box">
          <div class="question accordion-toggle toggle accordion-toggle">
            <p class="scrabble">What is TAMU Datathon</p>
          </div>
          <div class="answer accordion-content">
            A datathon is where you build your analytical skill set and create data-driven solutions in 24 hours. We provide data science lectures, workshops, challenges, prizes, fun activities, swag, food, and more!
          </div>
        </div>
        <div class="faq-box">
          <div class="question accordion-toggle">
            <p class="scrabble">When is the event</p>
          </div>
          <div class="answer accordion-content">
            October 8-9th, 2022. We will publish a complete schedule soon, but for now, know that we will begin at 9 am on Saturday and end at 5 pm on Sunday.
          </div>
        </div>
        <div class="faq-box">
          <div class="question accordion-toggle">
            <p class="scrabble">Where is the event</p>
          </div>
          <div class="answer accordion-content">
            Datathon will be in person at the Texas A&M Memorial Student Center.
          </div>
        </div>
        <div class="faq-box">
          <div class="question accordion-toggle">
            <p class="scrabble">How do i sign up</p>
          </div>
          <div class="answer accordion-content">
            Registration will begin on August 31st, 2022, and end in late September. Admission decisions will be released soon after the registration ends.
          </div>
        </div>
        <div class="faq-box">
          <div class="question accordion-toggle">
            <p class="scrabble">How much does it cost</p>
          </div>
          <div class="answer accordion-content">
            It is FREE! All you need is a laptop! We will even throw in tons of swag, food, Wi-Fi, workspaces, and caffeine during your stay.
          </div>
        </div>
      </div>
      <div class="faq-column">
        <div class="faq-box">
          <div class="question accordion-toggle">
            <p class="scrabble">Who can attend</p>
          </div>
          <div class="answer accordion-content">
            TAMU Datathon is open to any enrolled undergraduate or graduate student at least 18 years of age and anyone who has graduated within one year of the event. We welcome students from all across the world and from all majors!
          </div>
        </div>
        <div class="faq-box">
          <div class="question accordion-toggle">
            <p class="scrabble">How much do I need to know</p>
          </div>
          <div class="answer accordion-content">
            If you are new to data science, TAMU Datathon is the perfect time and place to learn. We will provide introductory coursework and mentors to guide you along your journey to complete a data science project.
            <br><br>
            For our more advanced students, our challenges will pique your interest and allow you to put your skills to the test. We are committed to helping you build something you can be proud of!
          </div>
        </div>
        <div class="faq-box">
          <div class="question accordion-toggle">
            <p class="scrabble">What should I bring</p>
          </div>
          <div class="answer accordion-content">
            Since the event will last overnight, it is a good idea to bring a pillow and a sleeping bag if you are planning on staying at the venue.
          </div>
        </div>
        <div class="faq-box">
          <div class="question accordion-toggle">
            <p class="scrabble">How do teams work</p>
          </div>
          <div class="answer accordion-content">
            Teams can have up to 4 people. We encourage working with a team, it's more fun! You do not need to form a team before attending the event. There will be plenty of time to find a team after opening ceremonies.
          </div>
        </div>
        <div class="faq-box">
          <div class="question accordion-toggle">
            <p class="scrabble">I have another question</p>
          </div>
          <div class="answer accordion-content">
            Send us an email at connect@tamudatathon.com.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
