<div id="faq" class="section">
  <div class="transition">
    <img
      height="100"
      src="/static/img/transitions/triangle_lightblue.svg"
      alt=""
    />
  </div>
  <div class="content">
    <h2 class="section-header">faq</h2>
  </div>
  <div class="content">
    <div class="faq-content-container faq-list">
      <div class="faq-column">
        <div class="faq-box">
          <div class="question accordion-toggle toggle accordion-toggle">
            <p class="scrabble">What is tamu datathon</p>
          </div>
          <div class="answer accordion-content">
            A datathon is where you build your analytics skill set and create
            data driven solutions in 24 hours. We provide data science lectures,
            workshops, challenges, prizes, fun activities, swag, and more. We’ll
            take care of you while you learn & create!
          </div>
        </div>
        <div class="faq-box">
          <div class="question accordion-toggle">
            <p class="scrabble">Who can come</p>
          </div>
          <div class="answer accordion-content">
            TAMU Datathon is open to any enrolled undergraduate or graduate
            student who is at least 18 years of age, as well as people who have
            graduated within 1 year from the event. We welcome students from all
            across the world and from all majors!
          </div>
        </div>
        <div class="faq-box">
          <div class="question accordion-toggle">
            <p class="scrabble">What level of experience is needed</p>
          </div>
          <div class="answer accordion-content">
            None! If you’re a beginner to data science, TAMU Datathon is the
            perfect time and place to learn. We’ll provide introductory
            coursework and mentors to guide you along your journey to complete a
            data science project. For our more advanced students, our challenges
            will peak your interest and allow you to put your skills to the
            test. We’re committed to helping you build something you can be
            proud of!
          </div>
        </div>
        <div class="faq-box">
          <div class="question accordion-toggle">
            <p class="scrabble">When is the event</p>
          </div>
          <div class="answer accordion-content">
            October 16-17th, 2021. We will publish a complete schedule in the
            fall.
          </div>
        </div>
      </div>
      <div class="faq-column">
        <div class="faq-box">
          <div class="question accordion-toggle">
            <p class="scrabble">Where is the event</p>
          </div>
          <div class="answer accordion-content">
            Datathon will be hybrid (Both in-person and virtual)! If you are
            coming in-person, the event will be hosted at the Hall of Champions
            in Kyle Field.
          </div>
        </div>
        <div class="faq-box">
          <div class="question accordion-toggle">
            <p class="scrabble">How much does it cost</p>
          </div>
          <div class="answer accordion-content">
            It’s FREE! All you need is a laptop! (and Wi-Fi for virtual
            participants)
          </div>
        </div>
        <div class="faq-box">
          <div class="question accordion-toggle">
            <p class="scrabble">How does registration work</p>
          </div>
          <div class="answer accordion-content">
            Registration will open on August 1st, 2021 and will close on October
            1st, 2021. Admission decisions will be released shortly after the
            registration period closes.
          </div>
        </div>
        <div class="faq-box">
          <div class="question accordion-toggle">
            <p class="scrabble">How do teams work</p>
          </div>
          <div class="answer accordion-content">
            Teams are at most 4 people. We encourage working with a team, it’s
            more fun! You don’t need to have a team before attending the event,
            there will be plenty of time to form teams on the day-of.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
