<div id="faq" class="section">
  <div class="transition">
    <img
      height="100"
      src="/static/img/transitions/triangle_lightblue.svg"
      alt=""
    />
  </div>
  <div class="content">
    <div class="during" id="during">
      <div class="section_heading">FAQs</div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
