<div id="faq" class="section">
  <div class="transition">
    <img height="100" src="/static/img/transitions/triangle_lightblue.svg" alt="">
  </div>
  <div class="content">
    Faq content goes here
  </div>
</div>