<div class="section faq-section">
    <div id="faq-start-transition"></div>
    <!-- start faq section (2 column) -->
    <div id="faq" class="container">
        <div class="row">
            <div class="col-md">
                <h1 class="section-title faq-title">
                    Frequently Asked Questions
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="question-block">
                    <h5 class="question">What is TAMU Datathon?</h5>
                    <span class="answer">Not a clue. I'm just building this website.</span>
                </div>
                <div class="question-block">
                    <h5 class="question">How much does it cost?</h5>
                    <span class="answer">It's free dum dum.</span>
                </div>
                <div class="question-block">
                    <h5 class="question">What can I bring?</h5>
                    <span class="answer">Your homework that we know you won't do until 2am last day of the hackathon.</span>
                </div>
                <div class="question-block">
                    <h5 class="question">Do I need a team?</h5>
                    <span class="answer">People have won alone but most winners are in teams of up to 4.</span>
                </div>
            </div>
            <div class="col-md">
                <div class="question-block">
                    <h5 class="question">Do you offer travel reimbursements?</h5>
                    <span class="answer">Depends. Do you accept Google Cloud credits?</span>
                </div>
                <div class="question-block">
                    <h5 class="question">Who can attend?</h5>
                    <span class="answer">Only those with a burning and unquenchable desire to solve real world data science problems.</span>
                </div>
                <div class="question-block">
                    <h5 class="question">My question isn't listed</h5>
                    <span class="answer">Email us <a href="mailto:connect@tamudatathon.com">here</a>.</span>
                </div>
                <div class="question-block">
                    <h5 class="question">Where is TAMU Datathon?</h5>
                    <span class="answer">We're in <a href="https://www.tamu.edu/">Gig 'em land</a>.</span>
                </div>
            </div>
        </div>
    </div>
</div>