<div class="section faq-section">
  <div id="faq-start-transition"></div>
  <!-- start faq section (2 column) -->
  <div id="faq" class="container">
    <div class="row">
      <div class="col-md">
        <h1 class="section-title faq-title">
          Frequently Asked Questions
        </h1>
      </div>
    </div>
    <div class="row">
      <!-- (LHS) left hand side -->
      <div class="col-md">
        <% req.FAQ.LHS.forEach(({ q, a }) => { %>
          <div class="question-block">
            <h4 class="question"><%= q %></h4>
            <!-- DANGEROUS: evaluate the HTML value from the object -->
            <span class="answer"><%- a %></span>
          </div>
        <% }) %>
      </div>
      <!-- RHS (right hand side) -->
      <div class="col-md">
        <% req.FAQ.RHS.forEach(({ q, a }) => { %>
          <div class="question-block">
            <h4 class="question"><%= q %></h4>
            <!-- DANGEROUS: evaluate the HTML value from the object -->
            <span class="answer"><%- a %></span>
          </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>