<div id="footer" class="section fold-corner">
  <div class="row">

    <div class="column td-logo-div">
      <img class="td-logo" src="/static/img/logos/main-23.svg">
      <!-- <p>Image would go here</p> -->
    </div>
    <div class="column text-content">
      <p>
        For any questions, please email us at 
        <a id="email-link" href="mailto:connect@tamudatathon.com">connect@tamudatathon.com</a>
        <br>
        <a id="MLH-link" href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">MLH Code of Conduct</a>
        <br>
        <!-- TODO: change this link-->
        <a id="prev-year-link" href="tamudatathon.com">2022 Datathon</a>
      </p>
    </div>
    <div class="column social-links">
      <a id='social-link' href="https://github.com/tamu-datathon-org/">
        <img class="social-logo" src="/static/img/social-logos/github.svg">
      </a>
      <a id='social-link' href="https://www.facebook.com/tamudatathon/">
        <img class="social-logo" src="/static/img/social-logos/facebook.svg">
      </a>
      <a id='social-link' href="https://www.instagram.com/tamudatathon/">
        <img class="social-logo" src="/static/img/social-logos/instagram.svg">
      </a>
      <a id='social-link' href="https://tamudatathon.com/guild">
        <img class="social-logo" src="/static/img/social-logos/discord.svg">
      </a>
      <a id='social-link' href="https://www.linkedin.com/company/tamudatathon/">
        <img class="social-logo" src="/static/img/social-logos/linkedin.svg">
      </a>
    </div>
  </div>
  <div class="row">
    <a id="social-link" href="https://vercel.com/?utm_source=tamu-datathon&utm_campaign=oss">
      <img  src="/static/img/sponsors/powered-by-vercel.svg">
    </a>
  </div>
  <!-- <div class="row">
    <div class="column vercel">
      <p>Vercel Logo</p>
    </div>
  </div> -->

</div>