<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

<div id="footer" class="section">
  <div class="content">

    <span class="TextBox">
      For any questions, please email us at
      <a id="datathonlink" href="mailto:connect@tamudatathon.com">connect@tamudatathon.com</a>
      <br>
      <a id="MLH" target="_blank" href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">MLH Code of Conduct</a>
      <br>
      •
      <br>
      <a id="datathonlink" href="https://2021.tamudatathon.com">2021 Datathon</a>
    </span>

    <img class="footer-logo" src="/static/img/logos/main-22.webp">

    <div class="cards">
      <a class="card" target="_blank" href="https://www.instagram.com/tamudatathon/">
        <div class="card-inner">
          <div class="card-front" id="instagram">
            <div class="num" id="num1">1</div>
            <div class="num" id="num2">1</div>
            <div class="card-oval">
              <i class='bx bxl-instagram instagram'></i>
            </div>
          </div>
          <div class="card-back">
            <div class="card-oval" id="backoval">
              <div class="card-text">UNO</div>
            </div>
          </div>
        </div>
      </a>

      <a class="card" target="_blank" href="https://www.facebook.com/tamudatathon/">
        <div class="card-inner">
          <div class="card-front" id="facebook">
            <div class="num" id="num1">2</div>
            <div class="num" id="num2">2</div>
            <div class="card-oval">
              <i class='bx bxl-facebook facebook'></i>
            </div>
          </div>
          <div class="card-back">
            <div class="card-oval" id="backoval">
              <div class="card-text">UNO</div>
            </div>
          </div>
        </div>
      </a>

      <a class="card" target="_blank" href="https://twitter.com/tamudatathon/">
        <div class="card-inner">
          <div class="card-front" id="twitter">
            <div class="num" id="num1">3</div>
            <div class="num" id="num2">3</div>
            <div class="card-oval">
              <i class='bx bxl-twitter twitter'></i>
            </div>
          </div>
          <div class="card-back">
            <div class="card-oval" id="backoval">
              <div class="card-text">UNO</div>
            </div>
          </div>
        </div>
      </a>

      <a class="card" target="_blank" href="https://www.linkedin.com/company/tamudatathon/">
        <div class="card-inner">
          <div class="card-front" id="linkedin">
            <div class="num" id="num1">4</div>
            <div class="num" id="num2">4</div>
            <div class="card-oval">
              <i class='bx bxl-linkedin linkedin'></i>
            </div>
          </div>
          <div class="card-back">
            <div class="card-oval" id="backoval">
              <div class="card-text">UNO</div>
            </div>
          </div>
        </div>
      </a>

      <a class="card" target="_blank" href="https://github.com/tamu-datathon-org/">
        <div class="card-inner">
          <div class="card-front" id="github">
            <div class="num" id="num1">5</div>
            <div class="num" id="num2">5</div>
            <div class="card-oval">
              <i class='bx bxl-github github'></i>
            </div>
          </div>
          <div class="card-back">
            <div class="card-oval" id="backoval">
              <div class="card-text">UNO</div>
            </div>
          </div>
        </div>
      </a>

      <a class="card" target="_blank" href="https://medium.com/@tamudatathon/">
        <div class="card-inner">
          <div class="card-front" id="medium">
            <div class="num" id="num1">6</div>
            <div class="num" id="num2">6</div>
            <div class="card-oval">
              <i class='bx bxl-medium medium'></i>
            </div>
          </div>
          <div class="card-back">
            <div class="card-oval" id="backoval">
              <div class="card-text">UNO</div>
            </div>
          </div>
        </div>
      </a>

    </div>

    <div class="background">
      <div class="block1"></div>
    </div>

    <a href="https://vercel.com?utm_source=tamu-datathon&amp;utm_campaign=oss" target="_blank">
      <img src="/static/img/sponsors/powered-by-vercel.svg" alt="Vercel" height="35rem">
    </a>
  </div>
</div>