<div id="footer" class="section fold-corner">
  <div class-="td-logo">
    <img class="td-logo" src="/static/img/logos/main.svg">
  </div>
  <div class="text-content">
      <p>
        For any questions, please email us at 
        <a id="email-link" href="mailto:connect@tamudatathon.com">connect@tamudatathon.com</a>
        <br>
        <a id="MLH-link" href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">MLH Code of Conduct</a>
        <br>
        <!-- TODO: change this link-->
        <a id="prev-year-link" href="tamudatathon.com">2022 Datathon</a>
      </p>
  </div>
  <div class="social-links">

  </div>


</div>