<div id="footer" class="section">
  <div class="transition">
    <img height="100" src="/static/img/transitions/triangle_lightcoral.svg" alt="">
  </div> 


    <div class="content">
    Footer content goes here
  </div>

  </div>

