<div class="section about-section pt-0">
  <div id="about" class="container">
    <div class="about-content row justify-content-between">
      <div class="col-lg-4 col-md-4 col-sm-12 justify-content-center align-items-center py-3 d-none d-sm-flex ">
        <img src="/static/img/graphics/laptop.png" class="about-img" />
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12 d-flex flex-column justify-content-center">
        <div class="container px-0">
          <h1 class="section-title about-title p-0">
            Going Virtual
          </h1>
        </div>
        <br>
        <p class="about-description">
          For the safety of the 1000+ people involved at the yearly event,
          <b>TAMU Datathon has decided to move completely online for the 2020 season</b>. We are still going to offer as many features as possible of the event, including sponsor challenges, workshops, learner lessons, awesome prizes, fun games and more! See you in October!
        </p>
      </div>
    </div>
  </div>
</div>