<div class="tab-pane fade" id="<%- industryId %>" role="tabpanel" aria-labelledby="<%- industryId %>-tab">
  <div class="row industry-modal-content">
    <div class="col-4">
      <img class="industry-modal-content-img" src="<%- industryImgPath %>"/>
    </div>
    <div class="col-8">
      <div class="industry-modal-content-text">
        <p class="industry-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dapibus id est nec molestie. Phasellus sit amet finibus enim. Sed aliquet mauris a velit ultricies, et ultricies velit malesuada.
        </p>
      </div>
      <div class="industry-modal-content-sponsors">
      </div>
    </div>
  </div>
</div>