<div class="section industries-section">
  <div id="team" class="container">
    <h1 class="section-title">
      Industries
    </h1>
  </div>
  <div class="centerme">
    <div class="slider">
      <div class="slide-track">
        <div class="slide">
          <div class="holder">
            <img class="slider-image down industry-modal-trigger" industry-id="industry-transportation" src="./static/img/icons/transportation.svg"/>
            <img class="slider-image up industry-modal-trigger" industry-id="industry-sports" src="./static/img/icons/sports.svg"/>
          </div>
        </div>
        <div class="slide">
          <div class="holder">
            <img class="slider-image up industry-modal-trigger" industry-id="industry-aerospace" src="./static/img/icons/aerospace.svg"/>
          </div>
        </div>
        <div class="slide">
          <div class="holder">
            <img class="slider-image down industry-modal-trigger" industry-id="industry-education" src="./static/img/icons/education.svg"/>
            <img class="slider-image up industry-modal-trigger" industry-id="industry-healthcare" src="./static/img/icons/healthcare.svg"/>
          </div>
        </div>
        <div class="slide">
          <div class="holder">
            <img class="slider-image down industry-modal-trigger" industry-id="industry-transportation" src="./static/img/icons/transportation.svg"/>

          </div>
        </div>
        <div class="slide">
          <div class="holder">
            <img class="slider-image down industry-modal-trigger" industry-id="industry-sports" src="./static/img/icons/sports.svg" />
            <img class="slider-image up industry-modal-trigger" industry-id="industry-aerospace" src="./static/img/icons/aerospace.svg" />
          </div>
        </div>
        <div class="slide">
          <div class="holder">

            <img class="slider-image down industry-modal-trigger" industry-id="industry-education" src="./static/img/icons/education.svg" />
          </div>
        </div>
        <div class="slide">
          <div class="holder">
            <img class="slider-image down industry-modal-trigger" industry-id="industry-healthcare" src="./static/img/icons/healthcare.svg" />
            <img class="slider-image up industry-modal-trigger" industry-id="industry-transportation" src="./static/img/icons/transportation.svg" />
          </div>
        </div>

        <div class="slide">
          <div class="holder">
            <img class="slider-image down industry-modal-trigger" industry-id="industry-transportation" src="./static/img/icons/transportation.svg"/>
            <img class="slider-image up industry-modal-trigger" industry-id="industry-sports" src="./static/img/icons/sports.svg"/>
          </div>
        </div>
        <div class="slide">
          <div class="holder">
            <img class="slider-image up industry-modal-trigger" industry-id="industry-aerospace" src="./static/img/icons/aerospace.svg"/>
          </div>
        </div>
        <div class="slide">
          <div class="holder">
            <img class="slider-image down industry-modal-trigger" industry-id="industry-education" src="./static/img/icons/education.svg"/>
            <img class="slider-image up industry-modal-trigger" industry-id="industry-healthcare" src="./static/img/icons/healthcare.svg"/>
          </div>
        </div>
        <div class="slide">
          <div class="holder">
            <img class="slider-image down industry-modal-trigger" industry-id="industry-transportation" src="./static/img/icons/transportation.svg"/>

          </div>
        </div>
        <div class="slide">
          <div class="holder">
            <img class="slider-image down industry-modal-trigger" industry-id="industry-sports" src="./static/img/icons/sports.svg" />
            <img class="slider-image up industry-modal-trigger" industry-id="industry-aerospace" src="./static/img/icons/aerospace.svg" />
          </div>
        </div>
        <div class="slide">
          <div class="holder">

            <img class="slider-image down industry-modal-trigger" industry-id="industry-education" src="./static/img/icons/education.svg" />
          </div>
        </div>
        <div class="slide">
          <div class="holder">
            <img class="slider-image down industry-modal-trigger" industry-id="industry-healthcare" src="./static/img/icons/healthcare.svg" />
            <img class="slider-image up industry-modal-trigger" industry-id="industry-transportation" src="./static/img/icons/transportation.svg" />
          </div>
        </div>

      </div>
    </div>
  </div>
</div>