<style>
  .mover {
    transform: translateX(-250px);
    max-height: 10vh;
    width: 150px;
    position: relative;
    animation: moveSlideshow 30s linear infinite;
  }
  @keyframes moveSlideshow {100% {transform: translateX(100vw);}}

  .move-down {
    height: 150px;
    animation: moveDown 30s linear infinite;
  }
  @keyframes moveDown { 50% {transform: translateY(50px);} 100% {transform: translateY(-50px);} }

  .move-up {
    height: 150px;
    animation: moveUp 30s linear infinite;
  }
  @keyframes moveUp {50% {transform: translateY(-50px);} 100% {transform: translateY(50px);}}
</style>

<div class="section" style="background-color:pink; height:90vh">
  <div id="industries-start-transition"></div>
  <div id="industries" class="container">
    <div class="row">
      <h1 class="section-title about-title pb-3">Industries</h1>
    </div>
    <div class="row">
      <div style="max-height:80vh">
        <div class="mover" style="animation-delay: 0s;">
          <img src="./static/img/icons/1.png" class="move-down" style="animation-delay: 0s;"></img>
        </div>
        <div class="mover" style="animation-delay: 12s;">
          <img src="./static/img/icons/3.png" class="move-down" style="animation-delay: 12s;"></img>
        </div>
        <div class="mover" style="animation-delay: 6s;">
          <img src="./static/img/icons/2.png" class="move-up" style="animation-delay: 6s;"></img>
        </div>
        <div class="mover" style="animation-delay: 24s;">
          <img src="./static/img/icons/5.png" class="move-down" style="animation-delay: 24s;"></img>
        </div>
        <div class="mover" style="animation-delay: 18s;">
          <img src="./static/img/icons/4.png" class="move-up" style="animation-delay: 18s;"></img>
        </div>
      </div>
    </div>
  </div>
</div>
