<div class="section industries-section">
  <div id="team" class="container">
    <h1 class="section-title">
      Industries
    </h1>
  </div>
  <div class="centerme">
    <div class="slider">
      <div class="slide-track">
        <div class="slide">
          <div class="holder">
            <img class="slider-image down" src="./static/img/icons/1.png"/>
            <img class="slider-image up" src="./static/img/icons/2.png"/>
          </div>
        </div>
        <div class="slide">
          <div class="holder">
            <img class="slider-image down" src="./static/img/icons/3.png"/>
          </div>
        </div>
        <div class="slide">
          <div class="holder">
            <img class="slider-image down" src="./static/img/icons/4.png"/>
            <img class="slider-image up" src="./static/img/icons/5.png"/>
          </div>
        </div>
        <div class="slide">
          <div class="holder">
            <img class="slider-image down" src="./static/img/icons/1.png"/>
  
          </div>
        </div>
        <div class="slide">
          <div class="holder">
            <img class="slider-image down" src="./static/img/icons/2.png"/>
            <img class="slider-image up" src="./static/img/icons/3.png"/>
          </div>
        </div>
        <div class="slide">
          <div class="holder">
  
            <img class="slider-image up" src="./static/img/icons/4.png"/>
          </div>
        </div>
        <div class="slide">
          <div class="holder">
            <img class="slider-image down" src="./static/img/icons/5.png"/>
            <img class="slider-image up" src="./static/img/icons/1.png"/>
          </div>
        </div>
  
        <div class="slide">
          <div class="holder">
            <img class="slider-image down" src="./static/img/icons/1.png"/>
            <img class="slider-image up" src="./static/img/icons/2.png"/>
          </div>
        </div>
        <div class="slide">
          <div class="holder">
            <img class="slider-image down" src="./static/img/icons/3.png"/>
          </div>
        </div>
        <div class="slide">
          <div class="holder">
            <img class="slider-image down" src="./static/img/icons/4.png"/>
            <img class="slider-image up" src="./static/img/icons/5.png"/>
          </div>
        </div>
        <div class="slide">
          <div class="holder">
            <img class="slider-image down" src="./static/img/icons/1.png"/>
  
          </div>
        </div>
        <div class="slide">
          <div class="holder">
            <img class="slider-image down" src="./static/img/icons/2.png"/>
            <img class="slider-image up" src="./static/img/icons/3.png"/>
          </div>
        </div>
        <div class="slide">
          <div class="holder">
  
            <img class="slider-image up" src="./static/img/icons/4.png"/>
          </div>
        </div>
        <div class="slide">
          <div class="holder">
            <img class="slider-image down" src="./static/img/icons/5.png"/>
            <img class="slider-image up" src="./static/img/icons/1.png"/>
          </div>
        </div>
  
      </div>
    </div>
  </div>  
</div>
