<div class="tab-pane fade industry-modal-content" id="<%- industryId %>" role="tabpanel" aria-labelledby="<%- industryId %>-tab">
  <div class="row align-items-center justify-content-center mb-3">
    <div class="col-4 text-center">
      <img class="industry-modal-content-img" src="<%- industryImgPath %>"/>
    </div>
    <div class="col-8">
      <div class="industry-modal-content-text">
        <p class="industry-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dapibus id est nec molestie. Phasellus sit amet finibus enim. Sed aliquet mauris a velit ultricies, et ultricies velit malesuada.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <h6>Past Sponsors:</h6>
    <div class="industry-modal-content-sponsors">
      <img class="industry-modal-sponsor-img" src="/static/img/sponsors/past/facebook.png">
      <img class="industry-modal-sponsor-img" src="/static/img/sponsors/past/conocophillips.png">
      <img class="industry-modal-sponsor-img" src="/static/img/sponsors/past/csce.png">
      <img class="industry-modal-sponsor-img" src="/static/img/sponsors/past/goldmansachs.png">
    </div>
  </div>
</div>