<div class="modal fade" id="industry-modal">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Industries</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body industry-modal-body">
        <div class="row">
          <div class="col-3">
            <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
              <a class="nav-link" id="industry-transportation-tab" data-toggle="pill" href="#industry-transportation" role="tab" aria-controls="industry-transportation" aria-selected="true">Transportation</a>
              <a class="nav-link" id="industry-sports-tab" data-toggle="pill" href="#industry-sports" role="tab" aria-controls="industry-sports" aria-selected="false">Sports</a>
            </div>
          </div>
          <div class="col-9">
            <div class="tab-content" id="industry-tab-content">
              <%- include ("./industry-modal-content", { 
                industryImgPath: "./static/img/icons/1.png",
                industryId: "industry-transportation"
              }) %>
              <%- include ("./industry-modal-content", { 
                industryImgPath: "./static/img/icons/2.png",
                industryId: "industry-sports"
              }) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>