<div id="information" class="section">
  <div class="transition">
    <!-- temp transition -->
    <img height="100" src="/static/img/transitions/triangle_lightpink.svg" alt="">
  </div>

  <!-- <ul class = "pieces">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
  </ul> -->

  <div class="squareholder">
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
    <div class = "square"></div>
  </div>

  <div class = "pawn"></div>

  <!-- <div id = "topSection" class = "topSection"> -->

    <div class = "kingText">View our Challenges!</div>
    <a class = "king" href = "https://tamudatathon.com/challenges"></a>

    <div class = "scheduleText">View our Schedule!</div>
    <a class = "scheduleIcon" href = "https://tamudatathon.com/schedule"></a>

    <div class = "discordText">Join our Discord!</div>
    <a class = "discordIcon" href = "https://tamudatathon.com/discord?bustCache=123"></a>

    <div class = "googleMap">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3433.7695604225883!2d-96.3437383487162!3d30.612262398388488!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8646839854d18149%3A0x90311327f8c2221d!2sMemorial%20Student%20Center!5e0!3m2!1sen!2sus!4v1651100656847!5m2!1sen!2sus" width="100%" height="100%" style="border:0; position: fixed" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class = "mapText">Address: 275 Joe Routt Blvd, College Station, TX 77843</div>
<!-- </div> -->


</div>
