<div id="information" class="section">

  <!-- <h2>Info</h2> -->
  <div class="container">
    <div id="newPawn" class="newPawn">
      <div id="pawnParts">
        <div id="leftSide" onclick="movePawn()" class="square"></div>
        <div id="rightSide" onclick="movePawn()" class="square2"></div>
        <div id="topBase" onclick="movePawn()" class="square3"></div>

        <div id="leftBody" onclick="movePawn()" class="rect1"></div>
        <div id="rightBody" onclick="movePawn()" class="rect2"></div>

        <div id="leftHead" onclick="movePawn()" class="leftHead"></div>
        <div id="rightHead" onclick="movePawn()" class="rightHead"></div>
        <div id="topHead" onclick="movePawn()" class="topHead"></div>
      </div>
    </div>

    <!-- <div id = "pawn" class = "pawn" onclick = "movePawn()" style = "cursor: pointer;"> <div class = "pawnBase"></div> </div> -->

    <div class="box">
      <div class="side-front">
        <table>
          <thead>
            <tr>
              <th></th>
              <th scope="col">
                <span class="rotate"></span></th>
              <th scope="col">
                <span class="rotate"></span></th>
              <th scope="col">
                <span class="rotate"></span></th>
              <th scope="col">
                <span class="rotate"></span></th>
              <th scope="col">
                <span class="rotate"></span></th>
              <th scope="col">
                <span class="rotate"></span></th>
              <th scope="col">
                <span class="rotate"></span></th>
              <th scope="col">
                <span class="rotate"></span></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"></th>
              <td class="light"></td>
              <td class="dark"></td>
              <td class="light"></td>
              <td class="dark"></td>
              <td class="light"></td>
              <td class="dark"></td>
              <td class="light"></td>
              <td class="dark"></td>
              <th scope="row">
                <span class="rotate"></span></th>
            </tr>
            <tr>
              <th scope="row"></th>
              <td class="dark"></td>
              <td class="light"></td>
              <td class="dark"></td>
              <td class="light"></td>
              <td class="dark"></td>
              <td class="light"></td>
              <td class="dark"></td>
              <td class="light"></td>
              <th scope="row">
                <span class="rotate"></span></th>
            </tr>
            <tr>
              <th scope="row"></th>
              <td class="light"></td>
              <td class="dark"></td>
              <td class="light"></td>
              <td class="dark"></td>
              <td class="light"></td>
              <td class="dark"></td>
              <td class="light"></td>
              <td class="dark"></td>
              <th scope="row">
                <span class="rotate"></span></th>
            </tr>
            <tr>
              <th scope="row"></th>
              <td class="dark"></td>
              <td class="light"></td>
              <td class="dark"></td>
              <td class="light"></td>
              <td class="dark"></td>
              <td class="light"></td>
              <td class="dark"></td>
              <td class="light"></td>
              <th scope="row">
                <span class="rotate"></span></th>
            </tr>
            <tr>
              <th scope="row"></th>
              <td class="light"></td>
              <td class="dark"></td>
              <td class="light"></td>
              <td class="dark"></td>
              <td class="light"></td>
              <td class="dark"></td>
              <td class="light"></td>
              <td class="dark"></td>
              <th scope="row">
                <span class="rotate"></span></th>
            </tr>
            <tr>
              <th scope="row"></th>
              <td class="dark"></td>
              <td class="light"></td>
              <td class="dark"></td>
              <td class="light"></td>
              <td class="dark"></td>
              <td class="light"></td>
              <td class="dark"></td>
              <td class="light"></td>
              <th scope="row">
                <span class="rotate"></span></th>
            </tr>
            <tr>
              <th scope="row"></th>
              <td class="light"></td>
              <td class="dark"></td>
              <td class="light"></td>
              <td class="dark"></td>
              <td class="light"></td>
              <td class="dark"></td>
              <td class="light"></td>
              <td class="dark"></td>
              <th scope="row">
                <span class="rotate"></span></th>
            </tr>
            <tr>
              <th scope="row"></th>
              <td class="dark"></td>
              <td class="light"></td>
              <td class="dark"></td>
              <td class="light"></td>
              <td class="dark"></td>
              <td class="light"></td>
              <td class="dark"></td>
              <td class="light"></td>
              <th scope="row">
                <span class="rotate"></span></th>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th></th>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="side-top"></div>
      <div class="side-bottom"></div>
      <div class="side-left"></div>
      <div class="side-right"></div>
      <div class="side-back"></div>
    </div>
  </div>

  <div class="td-container">
    <div id="three-cols" class="three-cols">
      <div class="infoColumn">
        <a href="/challenges"><img alt="Challenges Logo" src="static/img/icons/kingpng.png" style="object-fit: contain; padding: 10px; pointer-events: auto;" class="infoImg"></a>
        <h4 class="title">Challenges</h4>
      </div>
      <div class="infoColumn">
        <a href="/schedule"><img alt="Events Logo" src="static/img/icons/digital_clock.png" class="infoImg" style="top: 20%; pointer-events: auto;"></a>
        <h4 class="title">Schedule</h4>
      </div>
      <div class="infoColumn">
        <a href="/discord?bustCache=123"><img alt="Discord Logo" src="static/img/icons/dc_icon.png" style="object-fit: contain; padding: 45px; top: 15%; pointer-events: auto;" class="infoImg"></a>
        <h4 class="title">Discord</h4>
      </div>
    </div>
    <div class="infoColumn mapHolder">
      <h4 class="title" style="padding: 10px;">Address: <a target="_blank" style="color:inherit;" href="https://goo.gl/maps/UpfrqrecthUw7xVDA">275 Joe Routt Blvd, College Station, TX 77843</a></h4>
      <iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJSYHRVJiDRoYRHSLC-CcTMZA&key=AIzaSyB9QWb-4r72y3qvCFMXOq8G9k6Lg0JrAuI" width="65%" height="500vw" style="border: solid; border-color: #4B2D0B; border-width: 1em; display: block; margin: 0 auto; padding: 0; pointer-events: auto;" allowfullscreen loading="lazy"></iframe>
      <h4 class="title" style="padding: 10px;">Parking Information: TBD</h4>
    </div>
  </div>
</div>
