<div class="container td-container links">
  <div id="three-cols" class="row justify-content-center" style="justify-content: center!important; display: flex; flex-wrap: wrap; margin-right: -15px; margin-left: -15px;">
    <div class="col-lg-4" style="text-align: center; margin-bottom: 40px">
      <img alt="Project logo" src="static/img/icons/challenges.svg" class="link-img" />
      <h4 class="title">Challenges</h4>
      <p class="custom-p-text link-text">Take a look at all of our challenges for this year!</p>
      <br>
      <p>
        <a href="/challenges" role="button" class="btn projects">Look at challenges</a>
      </p>
    </div>
    <div id="mid-col" class="col-lg-4" style="text-align: center; margin-bottom: 40px">
      <img alt="Events Logo" src="static/img/icons/events.svg">
      <h4 class="title">Schedule</h4>
      <p class="custom-p-text link-text">View the schedule for this weekend's festivities!</p>
      <br>
      <p>
        <a href="/schedule" role="button" class="btn challenges">View our schedule</a>
      </p>
    </div>
    <div class="col-lg-4" style="text-align: center; margin-bottom: 40px">
      <img alt="Discord Logo" src="static/img/icons/discord.png" style="image-rendering: crisp-edges;">
      <h4 class="title">Discord</h4>
      <p class="custom-p-text link-text">Join our Discord server to stay up to date!</p>
      <br>
      <p>
        <a href="/discord?bustCache=123" target="_blank" role="button" class="btn discord">Join our Discord</a>
      </p>
    </div>
  </div>

  <h1 class="font-weight-bold title text-center" style="padding-top: 50px">Important Information</h1>
  <div class="container" style="font-size: 30px; margin-top: 20px;">
    <p class="text-center">Address: 161 Wellborn Rd, College Station, TX 77840</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d858.465636045112!2d-96.34150520492187!3d30.609640093660037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8646839ed55b42c9%3A0xf4eb7d78660626b1!2sFord%20Hall%20of%20Champions!5e0!3m2!1sen!2sus!4v1634341859852!5m2!1sen!2sus" width="75%" height="500vw" style="border: 0; display: block; margin: 0 auto; padding-top: 10px;" allowfullscreen="" loading="lazy"></iframe>
    <p class="text-center my-3">
      <a href="static\resources\map.pdf" target="_blank">Click here for parking information</a>
    </p>
  </div>
</div>
</div>