<div class="container" style="margin-top: 80px">
    <div id="three-cols" class="row justify-content-center" style="justify-content: center!important; display: flex; flex-wrap: wrap; margin-right: -15px; margin-left: -15px;">
        <div class="col-lg-4" style="text-align: center; margin-bottom: 40px">
            <img alt="Project logo" src="static\img\graphics\projects.png">
            <h1>Projects</h1>
            <p class="custom-p-text">View all of the awesome projects we have made!</p>
            <br>
            <p>
                <a href="/hh" role="button" class="btn btn-primary hh-button">View the projects</a>
            </p>
        </div>
        <div id="mid-col" class="col-lg-4" style="text-align: center; margin-bottom: 40px">
            <img alt="Challenges Logo" src="static\img\graphics\projects.png">
            <h1>Challenges</h1>
            <p class="custom-p-text">Check out all of the super dope challenges we have ready for the Datathon!</p>
            <br>
            <p>
                <a href="/th" role="button" class="btn btn-primary tamu-button">See our challenges</a>
            </p>
        </div>
        <div class="col-lg-4" style="text-align: center; margin-bottom: 40px">
            <img alt="Discord Logo" src="static\img\graphics\projects.png">
            <h1>Discord?</h1>
            <p class="custom-p-text">Have Discord and want to join our channel? Click the button below!</p>
            <br>
            <p>
                <a href="https://www.eventbrite.com/o/tamuhack-17782095402" role="button" class="btn btn-primary ws-button">Join our discord</a>
            </p>
        </div>
    </div>
</div>