<div class="container links">
    <div id="three-cols" class="row justify-content-center" style="justify-content: center!important; display: flex; flex-wrap: wrap; margin-right: -15px; margin-left: -15px;">
        <div class="col-lg-4" style="text-align: center; margin-bottom: 40px">
            <img alt="Project logo" src="">
            <h1>Projects</h1>
            <p class="custom-p-text">View all of the awesome projects we have made!</p>
            <br>
            <p>
                <a href="#" role="button" class="btn projects">View the projects</a>
            </p>
        </div>
        <div id="mid-col" class="col-lg-4" style="text-align: center; margin-bottom: 40px">
            <img alt="Challenges Logo" src="">
            <h1>Challenges</h1>
            <p class="custom-p-text">Check out all of the super dope challenges we have ready for the Datathon!</p>
            <br>
            <p>
                <a href="#" role="button" class="btn challenges">See our challenges</a>
            </p>
        </div>
        <div class="col-lg-4" style="text-align: center; margin-bottom: 40px">
            <img alt="Discord Logo" src="">
            <h1>Discord?</h1>
            <p class="custom-p-text">Have Discord and want to join our channel? Click the button below!</p>
            <br>
            <p>
                <a href="#" role="button" class="btn discord">Join our discord</a>
            </p>
        </div>
    </div>
</div>