<div class="container td-container links">
  <div id="three-cols" class="row justify-content-center" style="justify-content: center!important; display: flex; flex-wrap: wrap; margin-right: -15px; margin-left: -15px;">
    <div class="col-lg-4" style="text-align: center; margin-bottom: 40px">
      <img alt="Project logo" src="static/img/icons/projects.svg" class="link-img" />
      <h4 class="title">Projects</h4>
      <p class="custom-p-text link-text">View all of the awesome projects participants made last year!</p>
      <br>
      <p>
        <a href="https://devpost.com/tamudatathon/challenges" role="button" class="btn projects">View the projects</a>
      </p>
    </div>
    <div id="mid-col" class="col-lg-4" style="text-align: center; margin-bottom: 40px">
      <img alt="Events Logo" src="static/img/icons/events.svg">
      <h4 class="title">Events</h4>
      <p class="custom-p-text link-text">Check out all of the events/workshops we had last year!</p>
      <br>
      <p>
        <a href="/events" role="button" class="btn challenges">See our Events page</a>
      </p>
    </div>
    <div class="col-lg-4" style="text-align: center; margin-bottom: 40px">
      <img alt="Discord Logo" src="static/img/icons/discord.png" style="image-rendering: crisp-edges;">
      <h4 class="title">Discord</h4>
      <p class="custom-p-text link-text">Join our Discord server to stay up to date!</p>
      <br>
      <p>
        <a href="/discord?bustCache=123" target="_blank" role="button" class="btn discord">Join our Discord</a>
      </p>
    </div>
  </div>
</div>