<div class="modal fade" id="mailchimp-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h6>Get notified when applications open!</h6>
        <form
          action="https://tamudatathon.us20.list-manage.com/subscribe/post?u=36d73585139760aa245837bb2&amp;id=f919102f8f"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
          target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <div class="email-input input-group mt-3">
              <input style="border-color: #4740af" id="mce-EMAIL" type="email" value="" name="EMAIL"
                class="form-control" placeholder="Enter your email..."></input>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_36d73585139760aa245837bb2_f919102f8f" tabindex="-1" value="">
              </div>
              <div class="input-group-append">
                <button id="mc-embedded-subscribe" class="btn btn-outline-primary email-submit" name="subscribe"
                  type="submit">Subscribe</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>