<div class="section main-event-section">
  <div id="main-event" class="container">
    <div class="main-event-content row justify-content-between">
      <div class="col-lg-4 col-md-4 col-sm-12 d-flex justify-content-center align-items-center py-3 d-none d-sm-flex">
        <img src="/static/img/logos/main.svg" class="main-event-img">
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12 d-flex flex-column justify-content-center">
        <div class="container px-0">
          <h1 class="section-title main-event-title p-0">
            TAMU Datathon 2021
          </h1>
        </div>
        <br>
        <p class="main-event-description">
          Here are some useful links:
        </p>
        <div class="container px-0">
          <ul>
            <li>
              <a href="https://tamudatathon2020.devpost.com/" target="_blank">View the projects</a>
            </li>
            <li>
              <a href="/challenges" target="_blank">See our challenges</a>
            </li>
            <li>
              <a href="/discord" target="_blank">Join the Discord</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>