<div class="section main-event-section">
    <div id="main-event" class="container">
      <div class="main-event-content row justify-content-between">
        <div class="col-lg-4 col-md-4 col-sm-12 d-flex justify-content-center align-items-center py-3 d-none d-sm-flex">
          <img src="/static/img/logos/td_logo_iso.png" class="main-event-img">
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 d-flex flex-column justify-content-center">
          <div class="container px-0">
            <h1 class="section-title main-event-title p-0">
              TAMU Datathon 2020
            </h1>
          </div>
          <br>
          <p class="main-event-header">
            Let the games begin!
          </p>
          <p class="main-event-description">
            Here are some important links to help you start hacking, attend events, and submit your project:
          </p>
          <div class="container px-0">
              <ul>
                  <li><a href="https://discord.gg/V65juTU">Join the Discord!</a></li>
                  <li><a href="#ceremony">Watch the opening ceremony</a></li>
                  <li><a href="/schedule">See the schedule</a></li>
                  <li><a href="/events">Find events to attend</a></li>
                  <li><a href="https://tamudatathon2019.devpost.com/">Submit your project to Devpost</a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>