<a id="mlh-trust-badge" style="display:block;max-width:100px;min-width:60px;position:fixed;right:50px;top:0;width:10%;z-index:10000" href="https://mlh.io/na?utm_source=na-hackathon&utm_medium=TrustBadge&utm_campaign=2023-season&utm_content=black" target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/2023/mlh-trust-badge-2023-black.svg" alt="Major League Hacking 2023 Hackathon Season" style="width:100%"></a>
<%- include ("../navbar") %>
<div id="splash" class="section">
  <img class="splash-background" src="static/img/backgrounds/background.svg">
  <div class="splash-text">
    <div class="splash-text-title">
      TAMU Datathon
    </div>
    <div class="splash-text-subtitle">
      Details Coming Soon for 2023!
    </div>
    <a class="button-53" href="https://forms.gle/p4aXbHoFgY8Jgsm5A" role="button">Interest Form</a>
    <a class="button-53" href="/guild" role="button">Discord</a>
  </div>
  <img class="splash-logo" src="static/img/backgrounds/logo.svg">
  <div class="splash-timer-div">
    <div class="splash-timer-time" id="clockdiv"></div>
    <img class="splash-timer" src="static/img/backgrounds/timer.svg">
  </div>
</div>
