<button id="nav-button">Menu</button>
<div id="car"></div>
<div id="splash" class="section">
  <div class="content">
    <div id="section-links-wrapper">
      <div id="section-links-container">
        <a class="one" href="/events">Events</a>
        <a class="two" href="/schedule">Schedule</a>
        <a class="three" href="/challenges">Challenges</a>
        <a class="four" href="/apply">Apply</a>
      </div>
    </div>
    <div class="wheel-container">
      <img id="game-of-life-wheel" src="/static/img/graphics/game-of-life-wheel.svg" alt="">
    </div>
  </div>
</div>