<div id="splash" class="section">
  <div class="splash-grid">
    <div class="grid-row small-screen-only">
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
    </div>
    <div class="grid-row small-screen-only">
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
    </div>
    <div class="grid-row">
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square big ver top">T</div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
    </div>
    <div class="grid-row">
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square big hor left">D</div>
      <div class="square big hor ver">A</div>
      <div class="square big hor">T</div>
      <div class="square big hor">A</div>
      <div class="square big hor">T</div>
      <div class="square big hor">H</div>
      <div class="square big hor">O</div>
      <div class="square big hor right">N</div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
    </div>
    <div class="grid-row">
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square big ver">M</div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>

      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>

      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
    </div>
    <div class="grid-row">
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square big ver">U</div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square hor left green">O</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square hor green">C</div>
          <div class="mini-square hor green">T</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square hor green"></div>
          <div class="mini-square hor green">1</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square hor green">9</div>
          <div class="mini-square hor green">-</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square hor green">2</div>
          <div class="mini-square hor right green">1</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square small-screen-only">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
    </div>
    <div class="grid-row">
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
    </div>
    <div class="grid-row">
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <a href="/challenges">
            <div class="mini-square hor left">C</div>
          </a>
          <a href="/challenges">
            <div class="mini-square hor">H</div>
          </a>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <a href="/challenges">
            <div class="mini-square hor">A</div>
          </a>
          <a href="/challenges">
            <div class="mini-square hor">L</div>
          </a>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <a href="/challenges">
            <div class="mini-square hor">L</div>
          </a>
          <a href="/challenges">
            <div class="mini-square hor">E</div>
          </a>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <a href="/challenges">
            <div class="mini-square hor">N</div>
          </a>
          <a href="/challenges">
            <div class="mini-square hor">G</div>
          </a>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <a href="/challenges">
            <div class="mini-square hor">E</div>
          </a>
          <a href="/challenges">
            <div class="mini-square hor right">S</div>
          </a>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <a href="/events">
            <div class="mini-square hor left">E</div>
          </a>
          <a href="/events">
            <div class="mini-square hor">V</div>
          </a>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <a href="/events">
            <div class="mini-square hor">E</div>
          </a>
          <a href="/events">
            <div class="mini-square hor">N</div>
          </a>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <a href="/events">
            <div class="mini-square hor">T</div>
          </a>
          <a href="/events">
            <div class="mini-square hor right">S</div>
          </a>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square small-screen-only">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square small-screen-only">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square small-screen-only">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
    </div>
    <div class="grid-row small-screen-only">
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square small-screen-only">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <a href="/events">
            <div class="mini-square hor left">E</div>
          </a>
          <a href="/events">
            <div class="mini-square hor">V</div>
          </a>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <a href="/events">
            <div class="mini-square hor">E</div>
          </a>
          <a href="/events">
            <div class="mini-square hor">N</div>
          </a>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <a href="/events">
            <div class="mini-square hor">T</div>
          </a>
          <a href="/events">
            <div class="mini-square hor right">S</div>
          </a>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
    </div>
    <div class="grid-row">
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square small-screen-only">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square small-screen-only">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <a href="/schedule">
            <div class="mini-square hor left">S</div>
          </a>
          <a href="/schedule">
            <div class="mini-square hor">C</div>
          </a>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <a href="/schedule">
            <div class="mini-square hor">H</div>
          </a>
          <a href="/schedule">
            <div class="mini-square hor">E</div>
          </a>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <a href="/schedule">
            <div class="mini-square hor">D</div>
          </a>
          <a href="/schedule">
            <div class="mini-square hor">U</div>
          </a>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <a href="/schedule">
            <div class="mini-square hor">L</div>
          </a>
          <a href="/schedule">
            <div class="mini-square hor right">E</div>
          </a>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <a href="/apply">
            <div class="mini-square hor left">A</div>
          </a>
          <a href="/apply">
            <div class="mini-square hor">P</div>
          </a>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <a href="/apply">
            <div class="mini-square hor">P</div>
          </a>
          <a href="/apply">
            <div class="mini-square hor">L</div>
          </a>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <a href="/apply">
            <div class="mini-square hor right">Y</div>
          </a>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square small-screen-only">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square small-screen-only">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square small-screen-only">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
    </div>
    <div class="grid-row small-screen-only">
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square small-screen-only">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square small-screen-only">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square small-screen-only">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <a href="/apply">
            <div class="mini-square hor left">A</div>
          </a>
          <a href="/apply">
            <div class="mini-square hor">P</div>
          </a>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <a href="/apply">
            <div class="mini-square hor">P</div>
          </a>
          <a href="/apply">
            <div class="mini-square hor">L</div>
          </a>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <a href="/apply">
            <div class="mini-square hor right">Y</div>
          </a>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
    </div>
    <div class="grid-row">
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
    </div>
    <div class="grid-row">
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
    </div>
    <div class="grid-row small-screen-only">
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
    </div>
    <div class="grid-row small-screen-only">
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
        <div class="mini-row">
          <div class="mini-square random"></div>
          <div class="mini-square random"></div>
        </div>
      </div>
    </div>
  </div>
</div>