<a id="mlh-trust-badge" style="display:block;max-width:100px;min-width:60px;position:fixed;right:50px;top:0;width:10%;z-index:10000" href="https://mlh.io/na?utm_source=na-hackathon&utm_medium=TrustBadge&utm_campaign=2023-season&utm_content=black" target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/2023/mlh-trust-badge-2023-black.svg" alt="Major League Hacking 2023 Hackathon Season" style="width:100%"></a>
<%- include ("../navbar") %>
<!-- <div class="logoNav"></div> -->
<div id="splash" class="section">

    <div class="topDiv">
        <!-- <div class="leftHalf">
            <div class="splash-text">
                <div class="splash-text-title">TAMU</div>
                <div class="splash-text-title">DATATHON</div>
                <div class="splash-text-subtitle">Upcoming Event</div>
                <div id="splash-registration-deadline"></div>
                <a href="/help" role="button" class="splash-button">HELP QUEUE</a>
                <a href="/guild" role="button" class="splash-button">DISCORD</a>
            </div>
        </div>
        <div class="rightHalf">
            <div class="splashSprite"></div>
        </div> -->
        <img src="static/img/backgrounds/Homepage_Illustration.svg" alt="TAMU Datathon Logo">
    </div>

    <div class="dashed-line-container">
        <div class="scissors-container">
          <div class="scissors">
            <div class="handle"></div>
            <div class="blade"></div>
            <div class="blade"></div>
          </div>
        </div>
      </div>
</div>
