<div id="splash" class="section">
  <div class="links-container left">
    <a href="/events">
      <div class="link">
        Events
      </div>
    </a>
    <a href="/events">
      <div class="link">
        Events
      </div>
    </a>
    <a href="/events">
      <div class="link">
        Events
      </div>
    </a>
    <a href="/events">
      <div class="link">
        Events
      </div>
    </a>
  </div>
  <div class="td-container"></div>
  <div class="links-container right">
    <a href="/events">
      <div class="link-wrapper">
        <div class="link">
          Events
        </div>
      </div>
    </a>
    <a href="/schedule">
      <div class="link-wrapper">
        <div class="link alt">
          Schedule
        </div>
      </div>
    </a>
    <a href="/challenges">
      <div class="link-wrapper">
        <div class="link">
          Challenges
        </div>
      </div>
    </a>
    <a href="/apply">
      <div class="link-wrapper">
        <div class="link alt">
          Apply
        </div>
      </div>
    </a>
  </div>
</div>