<div class="splash">
  <div class="splash-img"></div>
  <a href="/discord?bustCache=123" target="_blank">
    <!-- need to update this invite link -->
    <span class="discord d-flex align-items-center">
      <img src="/static/img/graphics/discord.png">
    </span>
  </a>
  <div id="splash-content" class="td-container col-md-12 d-flex flex-column">
    <div class="splash-content-container">
      <h1 class="td-logo-text">TAMU Datathon</h1>
      <div>
        <p>
          <span class="text-white date pixel-font">October 16th - 17th, 2021</span>
        </p>
      </div>
      <div>
        <a href="/apply" role="button" class="btn apply-btn">Apply</a>
      </div>
      <div>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScHEHZjr0i1m5FWj2sij86R8ngxiBoOXyKwoksTex33dQLPNg/viewform?vc=0&c=0&w=1&flr=0" role="button" target="_blank" class="btn mentor-btn" style="margin-top: 10px;">Be a mentor, volunteer, or judge</a>
      </div>
      <div class='content-margin'>
        <span class="apply-btn-caption d-none d-lg-flex">Hosted virtually & in-person
          </br>@ Texas A&M University</span>
      </div>
      <div class="d-none d-lg-flex" style="margin-bottom: 1rem;">
        <%- include('./countdown.ejs') %>
      </div>
    </div>
  </div>
</div>
