<div id="splash" class="section">
  <div class="splash-grid">
    <div class="grid-row">
      <div class="square small-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square small-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square small-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square small-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square small-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square small-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square small-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>      
      <div class="square small-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square small-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
    </div>
    <div class="grid-row">
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square big ver top">D</div>
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
    </div>
    <div class="grid-row">
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square big hor left">T</div>
      <div class="square big hor ver">A</div>
      <div class="square big hor">M</div>
      <div class="square big hor right">U</div>
      
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
    </div>
    <div class="grid-row">
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square big ver">T</div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
    </div>
    <div class="grid-row">
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square big ver">A</div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square hor left">E</div>
          <div class="mini-square hor">V</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square hor">E</div>
          <div class="mini-square hor">N</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square hor">T</div>
          <div class="mini-square hor right">S</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
    </div>
    <div class="grid-row">
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square big ver">T</div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square hor left">S</div>
          <div class="mini-square hor">C</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square hor">H</div>
          <div class="mini-square hor">E</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square hor">D</div>
          <div class="mini-square hor">U</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square hor">L</div>
          <div class="mini-square hor right">E</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
    </div>
    <div class="grid-row">
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square big ver">H</div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square hor left">C</div>
          <div class="mini-square hor">H</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square hor">A</div>
          <div class="mini-square hor">L</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square hor">L</div>
          <div class="mini-square hor">E</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square hor">N</div>
          <div class="mini-square hor">G</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square hor">E</div>
          <div class="mini-square hor right">S</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
    </div>
    <div class="grid-row">
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square big ver">O</div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square hor left">A</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square hor">P</div>
          <div class="mini-square hor">P</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square hor">L</div>
          <div class="mini-square hor right">Y</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
    </div>
    <div class="grid-row">
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square big ver bottom">N</div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
    </div>
    <div class="grid-row">
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
    </div>
    <div class="grid-row">
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
      <div class="square large-screen-only">
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
        <div class="mini-row">
          <div class="mini-square random">B</div>
          <div class="mini-square random">B</div>
        </div>
      </div>
    </div>
  </div>
</div>