<div class="splash">
  <div id="splash-content" class="col-md-10 d-flex flex-column">
    <div style="padding: 8em 0;">
      <img id="text-logo" src="/static/img/logos/text-logo.png" class="text" alt="TAMU Datathon 2020" />
      <h2 class="text-white">October 17-18, 2020</h2>
      <p class="text-white countdown-text" style="font-size: 1.3em;">
        Applications close in - 
        <span id="countdown-typed"></span>
      </h5>
      <h4 class="applications-closed-message">Applications are closed!</h5>
      <div class="splash-btn-line">
        <a class="btn btn-hover splash-btn apply-btn" href="/apply">
          Apply
        </a>
        <a class="btn btn-hover splash-btn sponsor-btn" target="_blank" href="/static/resources/datathon_sponsorship_packages_2020.pdf">
          Sponsor Us
        </a>
      </div>
    </div>
  </div>
</div>