<div class="splash">
  <a href="https://discord.com/" target="_blank">
    <!-- need to update this invite link -->
    <span class="discord d-flex align-items-center">
      <img src="/static/img/graphics/discord.png">
    </span>
  </a>
  <div id="splash-content" class="col-md-10 d-flex flex-column">
    <div class="splash-info">
      <img id="text-logo" src="/static/img/logos/text-logo.png" class="text" alt="TAMU Datathon 2021" />
      <h2 class="text-white date">Fall 2021</h2>
      <!-- <a href="#" role="button" class="apply-btn">Apply</a> -->
    </div>
    <img class="TD-scene" src="/static/img/graphics/TD-scene-image.png">
    <a class="mlh-trust-badge" href="https://mlh.io/seasons/2022/events?utm_source=na-hackathon&utm_medium=TrustBadge&utm_campaign=2022-season&utm_content=white" target="_blank"><img src="/static/img/logos/mlh-2022-badge.svg" alt="Major League Hacking 2021 Hackathon Season" style="width: 100%" /></a>
  </div>
</div>