<div id="sponsors" class="section sponsor-override">
  <div class="sponsors-title section-title">SPONSORS</div>
  <div class="content sponsor-section">
    <div class="sponsor-images">
      <a href="https://www.gm.com/" target="_blank">
        <img
          class="sponsor-img lg"
          src="/static/img/sponsors/current/gm_logo.webp"
          alt="General Motors"
        />
      </a>

      <a href="https://tamids.tamu.edu/" target="_blank">
        <img
          class="sponsor-img lg"
          src="/static/img/sponsors/current/tamids_logo.webp"
          alt="Texas A&amp;M University Institute of Data Science"
        />
      </a>

      <a href="https://stat.tamu.edu/" target="_blank">
        <img
          class="sponsor-img lg"
          src="static/img/sponsors/current/tamu_stats_logo.svg"
          alt="Texas A&amp;M University Department of Statistics"
        />
      </a>

      <a href="https://mymarky.ai/" target="_blank">
        <img
          class="sponsor-img lg"
          src="/static/img/sponsors/current/marky_logo.svg"
          alt="Marky"
        />
      </a>

      <a href="https://www.roblox.com/" target="_blank">
        <img
          class="sponsor-img lg"
          src="/static/img/sponsors/current/roblox_logo.webp"
          alt="Marky"
        />
      </a>
    </div>
    <div class="" style="">
        Interested in sponsoring? Email us at
        <a style="color: blue" href="mailto:connect@tamudatathon.com"
          >connect@tamudatathon.com</a
        >!
    </div>
    <!-- <div class="partners-title">Our Partners:</div>
    <br />
    <div class="sponsor-images">
      <a href="https://mule.to/p39b" target="_blank">
        <img
          class="sponsor-img lg"
          src="/static/img/sponsors/current/sticker_mule.webp"
          alt="Sticker Mule"
        />
      </a>

      <a href="http://hackp.ac/mlh-StandOutStickers-hackathons" target="_blank">
        <img
          class="sponsor-img lg"
          src="/static/img/sponsors/current/standout_stickers.webp"
          alt="StandOut Stickers"
        />
      </a>
    </div> -->
  </div>
</div>
