<div id="sponsors" class="section sponsor-override">
  <div class="sponsors-title section-title">SPONSORS</div>
  <div class="content sponsor-section">
    <div class="">
      Interested in sponsoring? Email us at
      <a style="color: inherit" href="mailto:connect@tamudatathon.com">connect@tamudatathon.com</a>.
    </div>
    <div class="sponsor-images">
      <a href="https://www.gm.com/" target="_blank">
        <img class="sponsor-img lg" src="/static/img/sponsors/current/gm_logo.webp" alt="General Motors" />
      </a>

      <a href="https://cbre.com/" target="_blank">
        <img class="sponsor-img lg" src="/static/img/sponsors/current/cbre.png" alt="CBRE" />
      </a>

      <a href="https://www.amd.com/" target="_blank">
        <img class="sponsor-img lg" src="/static/img/sponsors/current/amd_logo.webp" alt="AMD" />
      </a>

      <a href="https://www.celonis.com/" target="_blank">
        <img class="sponsor-img lg" src="/static/img/sponsors/current/celonis_logo.webp" alt="Celonis" />
      </a>

      <a href="https://www.bakerhughes.com/" target="_blank">
        <img class="sponsor-img lg" src="/static/img/sponsors/current/baker_hughes_logo.webp" alt="Baker Hughes" />
      </a>

      <a href="https://www.splunk.com/" target="_blank">
        <img class="sponsor-img lg" src="/static/img/sponsors/current/splunk.svg" alt="Splunk" />
      </a>

      <a href="http://tti.tamu.edu/" target="_blank">
        <img class="sponsor-img lg" src="/static/img/sponsors/current/tti_logo.webp" alt="Texas A&amp;M Transportation Institute" />
      </a>

      <a href="https://www.bloombergindustry.com/" target="_blank">
        <img class="sponsor-img lg" src="/static/img/sponsors/current/bloomberg.svg" alt="Bloomberg" />
      </a>

      <a href="https://www.dell.com/en-us" target="_blank">
        <img class="sponsor-img lg" src="/static/img/sponsors/current/dell.webp" alt="Dell" />
      </a>

      <a href="https://stat.tamu.edu/" target="_blank">
        <img class="sponsor-img lg" src="static/img/sponsors/current/tamu_stats_logo.svg" alt="Texas A&amp;M University Department of Statistics" />
      </a>
    </div>
    <div class="partners-title">Our Partners:</div>
    <br />
    <div class="sponsor-images">
      <a href="https://mule.to/p39b" target="_blank">
        <img class="sponsor-img lg" src="/static/img/sponsors/current/sticker_mule.webp" alt="Sticker Mule" />
      </a>

      <a href="http://hackp.ac/mlh-StandOutStickers-hackathons" target="_blank">
        <img class="sponsor-img lg" src="/static/img/sponsors/current/standout_stickers.webp" alt="StandOut Stickers" />
      </a>
    </div>
  </div>
</div>