<div class="section sponsor-section">
    <div id="industries-end-transition"></div>
    <div id="sponsors" class="container">
        <h1 class="section-title sponsor-title pb-3">
            Sponsors
        </h1>
        <p class="sponsor-description pb-3">TAMU Datathon would not be possible without our sponsors. </br>Interested in sponsoring? Check out our <a href="#">Sponsorship Packet</a> and contact us at <a href="mailto:connect@tamudatathon.com">connect@tamudatathon.com</a>.</p>
        <h3>Our Past Sponsors:</h3>
        <div class="sponsor-images">
            <a href="#" target="_blank"><img class="sponsor-img xl" src="./static/img/sponsors/past/facebook.png"></img></a>
            <a href="#" target="_blank"><img class="sponsor-img lg" src="./static/img/sponsors/past/conocophillips.png"></img></a>
            <a href="#" target="_blank"><img class="sponsor-img lg" src="./static/img/sponsors/past/aramco.png"></img></a>
            <a href="#" target="_blank"><img class="sponsor-img lg" src="./static/img/sponsors/past/walmart.png"></img></a>
            <a href="#" target="_blank"><img class="sponsor-img lg" src="./static/img/sponsors/past/motiva.png"></img></a>
            <a href="#" target="_blank"><img class="sponsor-img lg" src="./static/img/sponsors/past/shell.svg"></img></a>
            <a href="#" target="_blank"><img class="sponsor-img lg" src="./static/img/sponsors/past/goldmansachs.png"></img></a>
            <a href="#" target="_blank"><img class="sponsor-img lg" src="./static/img/sponsors/past/bp.png"></img></a>
            <a href="#" target="_blank"><img class="sponsor-img lg" src="./static/img/sponsors/past/usaa.png"></img></a>
            <a href="#" target="_blank"><img class="sponsor-img lg" src="./static/img/sponsors/past/mathworks.svg"></img></a>
            <a href="#" target="_blank"><img class="sponsor-img lg" src="./static/img/sponsors/past/cbre.png"></img></a>
            <a href="#" target="_blank"><img class="sponsor-img lg" src="./static/img/sponsors/past/mlh.svg"></img></a>
            <a href="#" target="_blank"><img class="sponsor-img lg" src="./static/img/sponsors/past/digitalocean.png"></img></a>
            <a href="#" target="_blank"><img class="sponsor-img lg" src="./static/img/sponsors/past/github.png"></img></a>
            <a href="#" target="_blank"><img class="sponsor-img lg" src="./static/img/sponsors/past/sticker-mule.png"></img></a>
            <a href="#" target="_blank"><img class="sponsor-img lg" src="./static/img/sponsors/past/csce.png"></img></a>
            <a href="#" target="_blank"><img class="sponsor-img lg" src="./static/img/sponsors/past/science.png"></img></a>
            <a href="#" target="_blank"><img class="sponsor-img lg" src="./static/img/sponsors/past/tti_logo.png"></img></a>
            <a href="#" target="_blank"><img class="sponsor-img lg" src="./static/img/sponsors/past/tamids_logo.png"></img></a>
            <a href="#" target="_blank"><img class="sponsor-img lg" src="./static/img/sponsors/past/stat_logo.png"></img></a>
            <a href="#" target="_blank"><img class="sponsor-img lg" src="./static/img/sponsors/past/math_logo.png"></img></a>
            <a href="#" target="_blank"><img class="sponsor-img lg" src="./static/img/sponsors/past/tdac.png"></img></a>
        </div>
    </div>
</div>