<div id="sponsors" class="section">
  <div class="transition">
    <img height="100" src="/static/img/transitions/triangle_lightpink.svg" alt="">
  </div>
  <div class="content">
    <h2 class="section-header">sponsors</h2>
  </div>
</div>