<div class="section summer-bootcamp-section">
  <div id="summer-bootcamp" class="container">
    <div class="summer-bootcamp-content row justify-content-between">
      <div class="col-lg-4 col-md-4 col-sm-12 d-flex justify-content-center align-items-center py-3 d-none d-sm-flex">
        <!-- <img src="/static/img/graphics/about.png" class="summer-bootcamp-img" /> -->
        <img src="/static/img/logos/td_logo_block.png" class="summer-bootcamp-img">
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12 d-flex flex-column justify-content-center">
        <div class="container px-0">
          <h1 class="section-title summer-bootcamp-title p-0">
            Summer Bootcamp
          </h1>
        </div>
        <br>
        <p class="summer-bootcamp-header">
          Get ready for TAMU Datathon with our July 25th Summer Bootcamp
        </p>
        <p class="summer-bootcamp-description">
          All courses will be free and will prepare you for TAMU Datathon in October. Go to the events page and join our slack to learn more!
        </p>
        <div class="container px-0">
          <button class="btn btn-outline-primary btn-lg mt-3">Check out the workshops!</button>
          <button class="btn btn-outline-primary btn-lg mt-3">Join our Slack!</button>
        </div>
      </div>

    </div>
  </div>
</div>