<div id="team" class="section">
  <div class="transition">
    <img height="100" src="/static/img/transitions/triangle_lightcyan.svg" alt="">
  </div>
  <div class="content">
    Team content goes here
  </div>
</div>