<div class="card team-card">
  <img class="card-img-top team-card-img" src="<%- imgPath %>"/>
  <div class="card-body">
    <h5 class="card-title team-card-title text-center"><%- name %></h5>
    <div class="card-text">
      <small class="text-muted" style="float:left;">Tech Director</small>
      <span class="link-span" style="float:right;">
        <a class="team-social-link" href="<%- linkedinLink %>" target="_blank">
          <i class="fab fa-linkedin fa-lg"></i>
        </a>
        <a class="team-social-link" href="<%- githubLink %>" target="_blank">
          <i class="fab fa-github-square fa-lg"></i>
        </a>
      </span>
    </div>
    <br/>
    <div class="text-center pt-2"><small class="text-muted"><i>"Always spaces, never tabs"</i></small></div>
  </div>
</div>