<div id="when_and_where" class="section">
    <div class="when-col">
        <img class="when-banner" src="static/img/headers/When_Header.svg" alt="'when' header banner"/>
        <h1 class="when-text">
            Saturday, April 20th
            <br/>
            <span>
                9:00 - 6:00 PM
            </span>
        </h1>
        <img class="when-graphic" src="static/img/graphics/Calendar.svg" alt="calendar image"/>
    </div>
    <div class="dotted-line"></div>
    <div class="where-col">
        <img class="where-banner" src="static/img/headers/Where_Header.svg" alt="'where' header banner"/>
        <h1 class="where-text"> 
            Innovative Learning
            <br/>
            Classroom Building (ILCB)
        </h1>
        <a class="map-link" href="https://maps.app.goo.gl/8FGML4pA458cvcGa9" target="_blank" rel="external" referrerpolicy="no-referer" aria-label="link to ILCB on Google Maps">
            <img class="where-graphic" src="static/img/graphics/Map.svg"/>
        </a>
    </div>
</div>
