<nav class="navbar navbar-expand-lg navbar-light md-layout-nav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-responsive-dropdown" aria-controls="navbar-responsive-dropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <img src="/static/img/logos/main.png" class="md-nav-logo d-none d-sm-block">
  <div class="justify-content-center collapse navbar-collapse" id="navbar-responsive-dropdown">
    <ul class="navbar-nav ml-auto mr-auto">
      <!-- tell me this is not the most elegant thing ever made -->
      <% req.navbarSamePageItems.forEach(({ name, href, scrollId }) => { %>
      <li class="nav-item active">
        <a class="nav-link same-page-nav-link" href="<%- href %>" scroll-id="<%- scrollId %>">
          <%= name %></a>
      </li>
      <% }) %>
    </ul>
  </div>
</nav>